[2016-07-11 09:54] cbh34680 commented on #1026
申し訳ありません。

手元の環境 (CentOS 6) にて [link](/treasure-data/omnibus-td-agent) の手順に従い
作業してみましたが、`bin/omnibus build td-agent2` のステップで

[code]

といったエラーが発生し、これ以上の調査は難しそうです。

[2016-07-11 10:15] repeatedly commented on #1026
Why do you build td-agent?
td-agent 2.3.2 doesn't work?

[2016-07-11 10:20] cbh34680 commented on #1026
すみません。

てっきりソースビルドのバージョンのみ更新されているのかと勘違いしていました。
yum で確認したところ `2.3.2-0.el6` というバージョンがあったので、更新して確認してみます。

[2016-07-11 12:34] cbh34680 commented on #1026
yum で更新後に、以前 試験した条件で確認したところプロセスが再起動することなく
送信を完了しました。

ご対応ありがとうございました。

[2016-07-11 13:13] #1026 closed

[2016-07-11 22:44] tgalyean commented on #804
Any updates as to when this might get merged? Definitely a nice to have..

[2016-07-12 05:19] fahimeh2010 commented on #1087
I do not use memory and file buffer and still have the same problem

[2016-07-13 01:22] perrin4869 opened #1098 "Fluentd crashes"
Running fluentd 0.14.1, installed with `gem`, on Arch Linux. I setup a simple `fluent.conf` demo like this:

[code]

And I fed it data with a python script as follows:

[code]

However, fluentd goes crazy after a short while. The directory with the fluentd configuration file gets filled with buffer files:

[code]

Trying to close fluentd with SIGINT or SIGTERM fails, so I killed it with SIGKILL:

[2016-07-13 05:28] funwun opened #1099 "parse failed undefined method `emit' for #<Fluent::Plugin::MemoryBuffer:0055af2e94ab28>"
Check [CONTRIBUTING guideline](https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md) first and here is the list to help us investigate the problem.

- fluentd or td-agent version.

fluentd: 0.14.1
fluent-plugin-parser: v0.6.1
- Environment information, e.g. OS.

alpine linux
- Your configuration
[code]

- Your problem explanation. If you have an error logs, write it together.

[warn]: par

[2016-07-13 07:10] repeatedly commented on #1099
It seems parser plugin doesn't have a problem because parser plugin doesn't use buffer plugin.
Could you paste your entire logs?

I tested it parser plugin and it worked on v0.14.1.

[code]

[2016-07-13 07:33] funwun commented on #1099
this plugins I used.

fluent-mixin-config-placeholders (0.4.0)
fluent-plugin-elasticsearch (1.5.0)
fluent-plugin-filter_typecast (0.0.2)
fluent-plugin-forest (0.3.0)
fluent-plugin-parser (0.6.1)
fluent-plugin-record-modifier (0.4.1)
fluent-plugin-rewrite-tag-filter (1.5.5)
fluentd (0.12.26)

[2016-07-13 07:35] repeatedly commented on #1099
I mean fluentd/td-agent log, not plugin list.

[2016-07-13 20:01] scumola commented on #660
Fixed this (finally) by doing a tcpdump and watching the network traffic on the line.  Turns out that the fluentd server wasn't consuming the data fast enough to keep up with the filling tcp window buffers, so increasing the tcp window buffers on linux fixed the issue.  Here are the settings that we used to fix the issue on the server-side:

`
net.core.wmem_max=12582912
net.core.rmem_max=12582912

[2016-07-14 00:05] repeatedly commented on #1098
I tested your configuration and it worked without problem in 25 minutes.
Is this problem reproducible?

- buffer result

[code]

- fluentd log

[code]

[2016-07-14 06:05] perrin4869 commented on #1098
Hi, thank you for your response! Actually, I have been able to reproduce it with the following steps:

1. Run fluentd with the config above
2. Run the python script.
3. Send SIGINT to fluentd
4. Start fluentd again

It will then do the behavior I described above. Maybe it has to do with buffer files not being cleaned up?

[2016-07-15 17:26] scumola commented on #660
UPDATE: I built a cluster of fluentd servers using the latest code base (not the rpm, but the gems from the site) built on top of the latest Amazon AMI - so the kernel is the latest with all of the updates and fluentd is the latest with all of the updates (as of Jul 13, 2016).  I've also added some sysctl.conf changes to increase the tcp windows size on linux.

What we're seeing is that the json p

[2016-07-16 10:11] mia-0032 opened #1106 "Buffer chunk encoding compatibility between v0.12 and v0.14"
Hello,

I am investigating BufferedOutput encoding error reported in https://github.com/mdoi/fluent-plugin-gcloud-pubsub/issues/11.
I found `chunk.msgpack_each` in `BufferedOutput#write` returns different encoded fields between fluentd v0.12 and v0.14.
v0.12 returns `UTF-8` encoded, but v0.14 returns `ASCII-8BIT` encoded.

And the difference occurs when `in_tail` plugin is used and `encoding` opti

[2016-07-17 20:26] msergg opened #1109 "multiline mode in_tail plugin update [feature]"
Its will be very usefull to add next feature for multiline mode, that consists of two parts:

1 Its need to have possibility to parse stack traces in logs as one message
as example

2012-02-02 12:12:12 ERROR [Procedure.java:222] Error occured
       Exception in thread "main" java.lang.NullPointerException
        at com.example.myproject.Book.getTitle(Book.java:16)
        at com.example.myprojec

[2016-07-17 21:19] repeatedly commented on #1109
Sorry, I can't understand what do you want

to group all log lines using some similar field

[2016-07-17 22:11] repeatedly commented on #1106
Hmm... v0.14 seems correct.
Difference between msgpack version may cause this problem.

[2016-07-18 07:14] fahimeh2010 commented on #1087
could you please reproduce this problem yourself?
I do not use no buffer and still have the problem
Thanks a not

[2016-07-18 09:32] msergg commented on #1109
From http://docs.fluentd.org/articles/parser-plugin-overview we can parse only exact number of trace lines. but mostly java stack trace line count is variable, so we cant parse them all.

2 The second one is to group all log lines using some similar field
This should be done by filter.

Thank you

[2016-07-18 10:43] geek876 opened #1110 "Multiple Outputs Possible ?"
Hi,

Is it possible to emit same event twice ? My use case is below:

All Clients forward their events to a central Fluentd-Server (which is simply running td-agent). This Central Server outputs the events as per the tags.

[code]

On the Clients (All events forwarded to fluentd-server):

[code]

On Fluentd-Server (Events output as per tag):

[code]
The above works fine if I want to send events to

[2016-07-18 11:51] repeatedly commented on #1109
Where?

[2016-07-18 11:56] repeatedly commented on #1110
How about using following configuration?

[code]

[2016-07-18 12:02] geek876 commented on #1110
Thanks. However, If I understand it correctly, this will match tags either of elasticsearch or file and events will end up at both locations even if tag is `elasticsearch` or `file`. I want events to go to `elasticsearch` ONLY if tag is `elasticsearch` and to `file` ONLY if tag is `file`. However, if tag is `elasticsearchfile`, it should go to both via `copy` and I want to avoid using the `copy` p

[2016-07-18 14:50] geek876 commented on #1110
I ended up doing this as below

[code]

[2016-07-19 04:55] #1110 closed

[2016-07-19 04:56] repeatedly commented on #1110
Good.
BTW, this issue is for bug-report or feature request.
If you have a question, use mailing list instead: https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md#got-a-question-or-problem

[2016-07-19 13:03] msergg commented on #1109
Yes, thank you a lot.
I just trying to such things later, and cant.

[2016-07-19 13:03] #1109 closed

[2016-07-19 13:35] mia-0032 commented on #1106
@repeatedly Thank you for your reply.

I think so too.

Which is better way to work properly on both version (v0.12 and v0.14) Fluentd adding `encoding` config param to the plugin or using another module such as `Yajl` (as far as I know `Yajl#dump` don't cause this error) in the plugin?
Or any good ideas?

[2016-07-19 14:31] cbh34680 opened #1113 "fluentd main process died unexpectedly. restarting. (2)"
- Version. td-agent-2.3.2-0.el6.x86_64 (fluentd 0.12.26, fluent-plugin-secure-forward 0.4.2)
- OS. Scientific Linux release 6.6 (Carbon)
- Problem

#1026 で更新された td-agent2 を別のホストで運用していたところ、同様の現象が
発生しました。

以下に fluentd のログと、標準エラー出力の内容を転記しましたのでご確認ください。
### /var/log/td-agent/td-agent.log

[code]
### STDERR

[code]

[2016-07-20 04:47] tagomoris opened #1115 "Test fails occasionally"
This failure occurs occasionally on Travis CI environment.
It shows that `Time.now` is called, but `Time` is a rr mock object without any expectations about methods.
Output doesn't contain any information about which test case includes this test.

[code]

[2016-07-20 07:06] perrin4869 commented on #1098
@repeatedly could you reproduce this behavior? Just wondering :)

[2016-07-20 08:21] repeatedly commented on #1099
ping?

[2016-07-20 08:52] repeatedly commented on #1098
Yeah, I will try it.

[2016-07-20 09:28] nokute78 commented on #1098
I can reproduce similar issue without signal and python.
If the output file already exists before executing fluentd, this issue will be happened.

## How to reproduce

1.  $ echo "foobar" > temperature.`ruby -e 'puts Time.now.strftime("%Y%m%d")'`.log
2.  Execute fluentd with perrin4869's config.

## Environment

* ruby 2.2.4p230 (2015-12-16 revision 53155) [x86_64-linux]
* fluentd 0.14.1 (installe

[2016-07-20 09:54] repeatedly commented on #1106
Maybe, using `Yajl#dump` is easier for avoiding this problem for now.

[2016-07-20 12:14] plorent opened #1120 "charset issue"
When following http://docs.fluentd.org/articles/windows I get the following output:

`2016-07-20 11:59:44 +0000 windowslog: {"message":"W\u0000i\u0000n\u0000d\u0000o\u0000w\u0000s\u0000\r"}`

Any pointers on how to resolve this?

I'm running fluentd-0.12.26

[2016-07-20 12:56] YerisAntonio opened #1121 "Subsecond time-stamp in docker logger driver for stderr"
Hi all!

I am trying to log node.js apps erros in docker using the fluentd driver, all logs are sent to elasticsearch for kibana visualization.

I am using the latest td-agent but i also updated fluentd to latest with

sudo td-agent-gem install fluentd

What I looking to achieve here is to have subsecond time stamp so all stderr lines are at least ordered, however my logs still have the triple ser

[2016-07-20 14:38] YerisAntonio commented on #1121
This is an example of stderr from the docker logging driver.

{
  "_index": "logstash-2016.07.20",
  "_type": "fluentd",
  "_id": "AVYIoWBjIqB9UlPi5fHu",
  "_score": null,
  "_source": {
    "container_name": "/thirsty_newton",
    "source": "stderr",
    "log": "ReferenceError: serviceName is not defined",
    "container_id": "119b2d9dae57a7492d8b7898ab7dff1af015c682bb6adf39765b0bf9e4fe000b",

[2016-07-20 23:21] mia-0032 commented on #1106
@repeatedly Thank you! I see. I'll close this issue.

[2016-07-20 23:21] #1106 closed

[2016-07-21 02:21] tagomoris commented on #1121
Currently, fluent-logger-golang (Docker logging driver based on it) doesn't support sub-second time. We need to make updates on it to support sub-second with Fluentd v0.14.

[2016-07-21 02:23] tagomoris commented on #1121
Anyway, it's not an issue of Fluentd itself. Please open another issue for fluent-logger-golang.

[2016-07-21 02:23] #1121 closed

[2016-07-21 02:27] tagomoris commented on #1098
I'll fix this problem at next version (v0.14.2).
The workaround for this issue is to use different directly between path and buffer path.

[2016-07-21 08:09] tagomoris commented on #1120
I think that the encoding of your text file is UTF-16LE, and nxlog sends it as is.
Fluentd handles chars in UTF-8, so it shows like that.
Check your nxlog configuration (I found this page after googling): http://nxlog-ce.sourceforge.net/nxlog-docs/en/nxlog-reference-manual.html#xm_charconv_example

[2016-07-21 08:09] #1120 closed

[2016-07-21 11:30] perrin4869 commented on #1098
got it, looking forward to it! Thanks!

[2016-07-21 12:48] YerisAntonio commented on #1121
Hi tagomoris! You sure about it?, My stdout comes with sub second precisions the problem are the stderr messages that get the fluentd "On arrival time" timestamp.

I already opened the issue on the fluent-logger-golang project website, but as I say it looks to me like a fleuntd on arrival timestamp issue thing.

Kind regards

[2016-07-21 15:02] tagomoris commented on #1121
I'm sure about it, because i'm an author of docker logging driver of fluentd...

[2016-07-22 11:21] hjdr4 opened #1123 "syslog input has hardcoded max size at 2048 bytes"
Message size may be up to 65K

Some of my Apache access logs were truncated because of this.

[2016-07-22 15:47] MKo-xx commented on #1123
I just came to this bug and wanted to open an issue :).
My Nginx logs also were truncated because of the line 184:
`SocketUtil::UdpHandler.new(@usock, log, 2048, callback)`
in the file **in_syslog.rb**

[2016-07-26 10:42] warmfusion opened #1125 "Provide mechanism to acknowledge matching and handling of events to source"
Scenario;

I am using the fluent-plugin-amqp to consume ~2k events a second off a rabbitmq broker into a multi-server elasticsearch cluster using the fluent-plugin-forest and fluent-plugin-elasticsearch

Problem;

In the event of an ElasticSearch failure - invalid message, cluster offline, node failure etc, the matcher is unable to reject the incoming message from RabbitMQ for retry; All messages

[2016-07-26 10:52] repeatedly commented on #1125
You can use `buffer_queue_full_action block` in `<match>`.

[2016-07-26 10:53] warmfusion commented on #1125
Thats not the same thing;

I'm not saying the queues are full, i'm saying that some or all are failing and being thrown away - the buffers are empty as they're effectivly going into /dev/null

Theres no per-event feedback loop, preventing input sources from being able to make any guarantees on data safety.

[2016-07-26 10:54] repeatedly commented on #1125
You mean you don't want to use buffer?

[2016-07-26 11:00] repeatedly commented on #1125
From your comment, fluentd's buffer methanizm doesn't fit your case.

[2016-07-26 11:04] repeatedly commented on #1125
In v0.14, we can select buffered/non-buffered by configuration.
So you can handle output error immidiately when elasticsearch has a problem.
But I'm not sure this fits your case.

[2016-07-26 14:30] warmfusion commented on #1125
Perhaps this might make things more clear;

[code]

## Situation

1. Event arrives from RabbitMQ into the ActiveMQ Plugin
2. Event is sent into the Fluent Black Box through the use of `router.emit`
3. Fluent filters, matches and sends the event into the ElasticSearch Output Matcher

4. Event is sent sucessfully - Nothing needed
5. Event is rejected by the service used by the output
    * Database

[2016-07-26 14:52] repeatedly commented on #1125
For 5, we provide secondary or error label to rescue destination related error.
So if you configure output plugin properly, data should not be lost.

Fluentd's data flow model is now push with robust buffering, not pull.
So if you want to use pull model with ack, fluentd is not the best.
We have a plan to add back-preasure like flow control,
but It seems not  provide end-to-end ack model.

[2016-07-26 15:17] warmfusion commented on #1125
I can understand the focus on the push model - I certainly recognise there are more use cases for that behaviour in a logging system like this.

Given this, I think I'll have to implement my own middleware between my incoming event stream and the ElasticSearch storage backend to ensure data consistency and error handling at the per-event level.

I could abuse the error label and reemit events back

[2016-07-26 23:21] repeatedly commented on #1098
@perrin4869 Could you check test https://github.com/fluent/fluentd/pull/1124 patch?

[2016-07-27 05:55] perrin4869 commented on #1098
Sorry for the stupid question, but how do I install the patch? Can gem install from a github branch?

[2016-07-27 08:56] thkoch2001 opened #1126 "Add a feature to clean up position informations on in_tail"
- fluentd version: 0.12.20 - commit aee8086e9fc
- environment: fluentd pods running on Google Container Engine / kubernetes

Google Container Engine uses fluentd pods to collect container log files via the in_tail plugin and forward the logs to Stackdriver logging.

When a container is deleted, kubernetes also deletes the containers log file and there will never be a log file at this filesystem pa

[2016-07-27 10:22] tagomoris commented on #1098
Steps to build fluentd.gem with the patch above:
[code]

[2016-07-27 11:30] repeatedly commented on #1098
You can also test the patch without `gem install`.
After `checkout`, add fluentd library path to fluentd command like below.

[code]

If you clone the repository to `/home/user/fluentd`, actual command is `RUBYLIB=/home/user/fluentd/lib fluentd -c ./fluentd.conf`

[2016-07-27 11:39] tagomoris commented on #1068
#1108 already solved this issue.

[2016-07-27 11:39] #1068 closed

[2016-07-27 11:41] tagomoris commented on #1039
@repeatedly ping? will you solve this problem or not?

[2016-07-27 12:02] repeatedly commented on #1039
I can handle it but it seems not critical.
So the priority is now low.

[2016-07-27 14:57] repeatedly commented on #1126
in_tail removes untracked file positions at start phase.
So if you restart fluentd, pos_file is updated.

I'm not sure. I didn't receive any report of pos_file releated performance issue.

[2016-07-28 01:05] perrin4869 commented on #1098
I did the following, inside the

[code]

I get these messages every second:

[code]

After starting the python script, I get:

[code]

Every time fluentd receives an event

[2016-07-28 01:30] tagomoris commented on #1098
@perrin4869 Could you please test it without `<filter>` section?
It causes another problem (and it was already fixed at #1118).

[2016-07-28 02:10] perrin4869 commented on #1098
ok, without the filter it's working like charm now :)
Looking forward to `0.14.2`!

[2016-07-28 02:51] repeatedly commented on #1098
Thanks for the testing!

[2016-07-28 02:51] #1098 closed

[2016-07-28 03:34] repeatedly commented on #1039
This doesn't happen with forward plugin.
Maybe, the bug is in config_section.

[code]

[2016-07-28 03:58] #1123 closed

[2016-07-28 10:26] Yanson opened #1129 "in_forward RuntimeError after logrotate"
After upgrading to td-agent 2.3.2-0 (fluentd **0.12.26**) I am seeing some servers crash each morning.

It appears to happen after the logroate each day.

[code]

[code]

[code]

Note, there is no stack trace associated with the error.

Nothing special about the forward config:
[code]

I have not been able to reproduce this by sending `USR1` myself.

[2016-07-28 11:10] repeatedly commented on #1129
Does this happen with only fluentd v0.12.26?

[2016-07-28 11:14] repeatedly commented on #1129
Hmm... error seems to happen inside Cool.io's run method.
I will check the code.

[2016-07-29 05:33] tagomoris commented on #1087
It's not a bug of Fluentd. If you want NOT to lose log even when restarting Fluentd & Elasticsearch, use file buffer instead of memory buffer.

[2016-07-29 05:33] #1087 closed

[2016-07-29 05:43] tagomoris commented on #1125
Fluentd v0.14 provides APIs for output plugins which can work as both of buffered and non-buffered.
And with non-buffered output plugin, input plugin can wait the output plugins' process.
1. input plugin creates event streams (from input data from anywhere else)
2. input plugin emits event streams into Engine
3. Engine calls output plugin's `#process` method (in non-buffered mode)

In this model,

[2016-07-29 05:43] #1125 closed

[2016-07-29 05:49] tagomoris commented on #1126
The file which grows infinitely sound terrible in production environment (even if that growing speed is slow, or if there are no reports about performance regression).
I think we should add any features to clean it up to tail plugin.

But currently, we have a plan to switch to use storage plugin from pos file for that purpose.
I think we can add this cleanup feature at the same time with switching

[2016-07-29 05:57] tagomoris opened #1131 "v0.14 doesn't load plugins from directory specified by "-p" option"
Fluentd v0.14 launched with `-p DIR` option doesn't load plugins like `DIR/out_yay.rb`.
Plugins like `DIR/fluent/plugin/out_yay.rb` are loaded. So it's a bug of Registry & Plugin which are newly introduced in v0.14.

[2016-07-29 10:18] Yanson commented on #1129
I don't know if it only happens in that version. I only know it started happening since upgrading to td-agent 2.3.2-0.
It is definitely ongoing, today it brought down 3 of 8 servers. Note, we are running three regions and only the high traffic region was affected (the other 6 servers across two regions remain OK).

Is there another version you would like me to try?

Is there a way to get the stack

[2016-07-29 13:00] repeatedly commented on #1129
I checked the cool.io code but I can't find "can't add a new key into hash during iteration" code.

If you okay, could you paste entire logs here?

[2016-07-29 13:24] Yanson commented on #1129
That error is a generic Ruby exception. We need to find where `in_forward` or `cool.io` is doing that.

Here are logs from this morning:

**/var/log/td-agent/td-agent.log.1**
[code]

**/var/log/td-agent/td-agent.log**
[code]

The `undefined method 'outputs'` error is harmless and shows on servers that do not die. It's due to the route plugin not declaring an empty `outupts` array.

That's the last

[2016-08-01 09:10] ganmacs opened #1135 "Add size to tell the number of events in a message"
To tell the number of events, add `size` key to `option` in forward protocol.

I think it'll work by adding below task.
* add `size` key to `option` at `ForwardOutput#send_data`
* pass the size value to constructor's argument of `EventStream` at `ForwardInput#on_message`

ref https://github.com/fluent/fluentd/wiki/Forward-Protocol-Specification-v0

[2016-08-01 09:34] tagomoris commented on #1135
You mean "add `size` key to `option` at `ForwardOutput#send_data`", right?
Currently, `EventStream#initialize` doesn't have `size` argument. Will you add it?

[2016-08-01 09:55] ganmacs commented on #1135
Yes,  i'll fix it.

Sorry, i was wrong.
`MessagePackEventStream` and `MultiEventStream`  require adding size argument.
And `MessagePackEventStream` has already added `size`  argument.
So i'll add `size` argument to `MultiEventStream#initialize` like below

[code]

[2016-08-01 10:30] tagomoris commented on #1135
@ganmacs Okay, got it. Looks good to me.

[2016-08-02 02:51] #1039 closed

[2016-08-02 02:51] repeatedly commented on #1039
Fixed

[2016-08-02 05:32] repeatedly commented on #1126
I added note for this issue on http://docs.fluentd.org/articles/in_tail.

[2016-08-02 06:19] repeatedly commented on #1129
One cause is raising exception inside `error_stacktrace`.
After this error happen, does in_forward stop receiving events?

[2016-08-02 06:28] repeatedly commented on #1129
And if you hit this problem again,
could you send CONT signal to dump internal status?

http://docs.fluentd.org/articles/trouble-shooting#dump-fluentd-internal-information

[2016-08-02 13:32] Yanson commented on #1129
Yes, in_forward stops receiving events. The other servers retry until the hit a server that's still up (in this environment we use TCP ELB).
I'll forward the sigdump tomorrow morning when it happens again.

[2016-08-03 05:10] tagomoris commented on #1131
#1133 should solve this issue.

[2016-08-03 05:10] #1131 closed

[2016-08-03 08:54] tagomoris opened #1138 "Wildcard and quoting handling are not correct in Windows"
Backslashes are handled as quoting character in path of `in_tail`.
But backslashes are also path separator in Windows environment, and it is not determined automatically whether a backslash is separator or quoting character.

We should have a way to handle it correctly in Windows environment.
Options:
* add a configuration parameter not to extract globs and handle backslashes as path separators al

[2016-08-03 09:29] Yanson commented on #1129
I had SIGCONT in the crontab but apparently that doesn't work. Updated to CONT now so should have the dump tomorrow.

[2016-08-03 19:08] repeatedly commented on #1123
Released v0.12.27 including this fix.

[2016-08-04 02:02] ganmacs opened #1139 "Add a method to return time and record on filter plugins (instead of #format, with pipeline)"
Add `filter_time_and_record` that returns `record` and `time` to `Fluent::Plugin::Filter` for plugins that updates `time`(e.g [fluent-plugin-parser](https://github.com/tagomoris/fluent-plugin-parser)).
(Existing filter plugins have `Fluent::Plugin::Filter#filter` method that returns `record` untill now.)

If you'll create a new filter plugin, you should implement either `filter` or `filter_time_an

[2016-08-04 02:05] ganmacs commented on #1139
@tagomoris
I think that a method name of new filter that returns `record` and `time`is  `filter_time_and_record`.

What do you think about this method name?

[2016-08-04 02:56] tagomoris commented on #1139
That method is for plugins which updates time (like fluent-plugin-parser), right? If so, please update description to show use cases.

Naming is always big issue... I like shorter one. How about `filter_with_time`?
@repeatedly any thoughts?

[2016-08-04 04:09] ganmacs commented on #1139
thanks. updated!.

[2016-08-04 07:09] repeatedly commented on #1139
Hmm... this is hard thing.
`filter_with_time` looks like "filter records using time" but I don't have good name idea.

[2016-08-04 07:37] tagomoris commented on #998
Are there any more information or comments on it?
Please reopen if exists.

[2016-08-04 07:38] #1099 closed

[2016-08-04 08:54] Yanson commented on #1129
Here it is:

[code]

[2016-08-04 11:16] Lavakush7 opened #1142 "how can i get data in json format using @type record_transformer"
Check [CONTRIBUTING guideline](https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md) first and here is the list to help us investigate the problem.

- fluentd or td-agent version.
- Environment information, e.g. OS.
- Your configuration
- Your problem explanation. If you have an error logs, write it together.

[2016-08-04 11:37] Lavakush7 opened #1143 "how can i get data in json format using @type record_transformer"
Check [CONTRIBUTING guideline](https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md) first and here is the list to help us investigate the problem.

- fluentd or td-agent version.
- Environment information, e.g. OS.
- Your configuration
- Your problem explanation. If you have an error logs, write it together.

[2016-08-04 21:22] vichargrave opened #1144 "Log forwarder crashes when log aggregator stops (using secure forwarding network plugin)"
### fluentd or td-agent version

Not sure, but see our Docker file below

### Environment information

ubuntu trusty running in a Docker container on GKE (kubernetes) on Google Cloud.  Here is our
Docker file:
[code]

### Configuration
Forwarder configuration (note the environment variables are filled in by kubernetes service files):
[code]

Aggregator configuration (note during debugging of this

[2016-08-05 05:19] repeatedly commented on #1144
Fluentd try to send data to aggregators but got an error because no active aggregator instances. So raising errors, not crash from your logs, seems correct behaviour. Fluentd's buffer retries data transfer until re-run aggregators. I'm not sure why k8s tries to restart forwarder side instance.

Error says "getaddrinfo: Name or service not known" and this is general error outside of fluentd.
Do you

[2016-08-05 10:05] tagomoris commented on #1143
Duplicated issue: #1142.

[2016-08-05 10:05] #1143 closed

[2016-08-05 10:06] tagomoris commented on #1142
Fill description & reopen this issue.

[2016-08-05 10:06] #1142 closed

[2016-08-05 10:44] Lavakush7 opened #1146 "how can i get data in json format using @type record_transformer"
i am using @type record_transformer  in fluentd config.
and when i am fetching a record of nested json object whose structure is like
 {"a":{"b":"c", "d":"e"}

if i fetch ${a} then i get "{"b":"c", "d":"e"}" which a string but i want it in format like {"b":"c", "d":"e"}.
Thanks
Lavakush

[2016-08-05 11:21] repeatedly commented on #1146
Try `auto_typecast true`: http://docs.fluentd.org/articles/filter_record_transformer#autotypecast-optional

[2016-08-05 14:53] Lavakush7 commented on #1146
thanks , i am able to get valid json.
i have one more requirement in same as i want to access nested json object in fluentd.
Like in {"a":{"b":"c", "d":"e"} if i fetch ${a} then able to get a valid json {"b":"c", "d":"e"}.
i want to access b , i tried ${record["a"]["b"]} , ${a.b} but nothing seems to be working .
please help.

Thanks
Lavakush

[2016-08-05 14:58] Lavakush7 opened #1148 "access nested json in fluentd using @type record_transformer"
i have one requirement  as i want to access nested json object in fluentd.
Like in {"a":{"b":"c", "d":"e"} if i fetch ${a} then able to get a valid json {"b":"c", "d":"e"}.
i want to access b , i tried ${record["a"]["b"]} , ${a.b} but nothing seems to be working .
please help.

Thanks
Lavakush

[2016-08-05 15:02] repeatedly commented on #1146
Use fluent-plugin-record-modifier instead.

[2016-08-05 17:29] vichargrave commented on #1144
The getaddrinfo error occurs because I intentionally kill the aggregator to see if the forwarder can handle that situation.  I'm hoping that the forwarder will not quit when this happens and will continue try to reconnect to the aggregator until the aggregator starts up again.

By "die" the system means that the container in which fluentd is running terminates and Kubernetes restarts the container

[2016-08-05 18:23] repeatedly commented on #1148
Closed via https://github.com/fluent/fluentd/issues/1146#issuecomment-237874341

[2016-08-05 18:24] #1148 closed

[2016-08-05 20:55] repeatedly commented on #1144
That's weird. secure-forward should repeate 2 and 3.

[2016-08-05 21:17] repeatedly commented on #1144
Ah, I noticed your error happens during startup phase.
When error happens during startup phase, fluentd stops its phase and quits.
Fluentd can't know why the error happens so stopping process is for safety.
Almost cases, errors during startup phase means the system has a incident.
When this error happens after startup, fluentd should retry 2 and 3.

[2016-08-05 21:21] vichargrave commented on #1144
Unfortunately, that is not the case.  I start both the forwarder and the aggregator, then make sure they are connected.  Then I kill the aggregator.  Shortly thereafter the forwarder quits.

[2016-08-05 21:23] repeatedly commented on #1144
Could you paste your entire log?

[2016-08-05 21:27] repeatedly commented on #1144
@tagomoris From the code, Node#connect is executed on another thread and it doesn't catch Resolver related exceptions. Does this work properly?

[2016-08-05 21:47] vichargrave commented on #1144
Here is the dump of a forwarder (gsk-shipper in this case).  As you can see the fluentd forwarder quits when the connection to the forwarder is lost.  However in this run the container did not quit, although it did later.

[code]

[2016-08-08 00:23] repeatedly commented on #1144
Thanks for the logs.

This means you saw aggregator got logs from forwarders, right?

[2016-08-08 01:00] repeatedly commented on #1129
So your problem is reproducible, right?

Sorry, I forgot to mention correct info.
I need parent and child sigdump result.
Your result is parent one. Could you also send SIGCONT to child after same problem happen?

[2016-08-08 04:51] vichargrave commented on #1144
Yes the aggregator got logs from the forwarder.  It's when the aggregator is killed that the problems start.

-- vic

Sent from my iPhone

[2016-08-08 04:51] #1146 closed

[2016-08-08 04:55] #1135 closed

[2016-08-08 05:00] tagomoris commented on #1139
IMO, `filter` method has arguments of `tag`, `time` and `record`.
So I expect plugin authors to understand that `filter_with_time` means "return value includes time".

If you don't have alternatives, I'll proceed this as is.

[2016-08-08 05:00] tagomoris commented on #1139
@repeatedly https://github.com/fluent/fluentd/issues/1139#issuecomment-238142242

[2016-08-08 05:25] repeatedly commented on #1146
BTW, if you have a quesiton, please consider ML first: https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md#got-a-question-or-problem

[2016-08-08 07:02] ganmacs opened #1150 "Not to warn about secondary plugin type if standard format is used in both of primary and secondary"
Now, Fluentd shows warning if secondary plugin type is different from primary plugin type. But it is nonsense in some cases in Fluentd v0.14. This propose to suppress it if both of primary and secondary use "standard" format, instead of implementing `format` method by themselves.

Fluentd v0.12 requires buffered output plugins to implement `format` method by themselves. It means that different plu

[2016-08-08 09:54] Yanson commented on #1129
This problem is reoccurring everyday, I think shortly after log rotation. It affects around 50% of the servers unload load (but not the same ones each day). I currently have a cron to restart td-agent each morning.

I should have the child sigdump for you tomorrow.

[2016-08-08 21:44] repeatedly commented on #1019
Memo:

- fluentd v0.12.x's `File.umask` returns 0 in supervisor and worker.
- fluentd v0.14.x's `File.umask` returns 18 in supervisor and worker.

[2016-08-09 05:12] vichargrave commented on #1144
Does this issue involve the heartbeat facility?  I'm thinking it does.

[2016-08-09 09:27] Yanson commented on #1129
Child dump:

[code]

[2016-08-09 12:10] #1019 closed

[2016-08-09 12:33] repeatedly commented on #1144
What does 'heartbeat' mean?
Normal forward plugins uses heartbeat but secure-forward seems to not have own heartbeat mechanizm.

[2016-08-09 13:57] vichargrave commented on #1144
I meant the heartbeat that is used by the forwarding plugin.   Do you have any ideas about what is going wrong?

[2016-08-09 15:08] vichargrave commented on #1144
This log seems to be the key to this:
[code]
The secure plugin detects the loss of connection, but an exception is thrown elsewhere in the main fluentd code that sometimes causes fluentd to quit.  Is it possible to catch this exception and prevent this situation?

[2016-08-09 15:37] vichargrave commented on #1144
There does not seem to be a ```rescue``` clause associated with the getaddrinfo() call in resolve_dns!
[code]
I'm thinking if this exception is caught and the call is retried until the aggregator restarts, then this might help the problem.  Your thoughts?

[2016-08-09 16:40] repeatedly commented on #1144
No help the problem because forward plugin and secure-forward plugins are different.
You are now reading forward plugin code but the problem happens in secure-forward plugin.
This is why I wrote "Normal forward plugins uses heartbeat but secure-forward seems to not have own heartbeat mechanizm." before.

[2016-08-09 16:47] repeatedly commented on #1144
Off topic, forward plugin itself doesn't catch getaddrinfo error because

- if error happens in startup phase, fluentd should quit
- if error happens in buffer flush phase, fluentd catches errors and retry buffer flush

[2016-08-09 16:51] repeatedly commented on #1144
secure-forward plugin set `abort_on_exception` to launched thread.

https://github.com/tagomoris/fluent-plugin-secure-forward/blob/e1afa2cbe33f78434c4e78f9cfe6a4085209a00a/lib/fluent/plugin/output_node.rb#L227

I think this causes fluentd gets an exception in main thread.

[2016-08-09 16:58] vichargrave commented on #1144
Ok that looks promising.  Can this flag be set to false?  Also with regard to your previous comment:

- if error happens in startup phase, fluentd should quit

I don't think this should be the case.  In a forwarder-aggregator system, the forwarder should always wait until an aggregator comes online.  Similarly, the forwarder should always wait when an aggregator goes offline until the aggregator c

[2016-08-09 17:00] repeatedly commented on #1144
https://github.com/tagomoris/fluent-plugin-secure-forward/blob/e1afa2cbe33f78434c4e78f9cfe6a4085209a00a/lib/fluent/plugin/output_node.rb#L230

Maybe, I think resue this line is needed. The secure-forward plugin author is @tagomoris so he can judge it.

[2016-08-09 17:01] repeatedly commented on #1144
I will write a patch to secure-forward later.

[2016-08-09 20:58] repeatedly commented on #1144
Patch is here: https://github.com/tagomoris/fluent-plugin-secure-forward/pull/46

[2016-08-09 21:04] vichargrave commented on #1144
I get fluentd through a Docker file command like this:

# Install Fluentd.
RUN /usr/bin/curl -L https://td-toolbelt.herokuapp.com/sh/install-ubuntu-trusty-td-agent2.sh | sh

How do I apply the patch for this scenario.  Is the version at that URL patched?

[2016-08-09 21:36] repeatedly commented on #1144
There are several way.

- Download diff file, https://patch-diff.githubusercontent.com/raw/tagomoris/fluent-plugin-secure-forward/pull/46.diff, and apply it using `patch` command.
- Download patched file, https://github.com/tagomoris/fluent-plugin-secure-forward/blob/2b824052b4f35936ee250f88799498c2bbcafd24/lib/fluent/plugin/output_node.rb, and copy it to existing plugin file under /opt/td-agent

[2016-08-09 21:42] vichargrave commented on #1144
Yeah I can’t do that because the Docker container runs the td-agent as the main application.  My Dockerfile gets td-agent with this script:

echo "This script requires superuser access to install apt packages."
echo "You will be prompted for your password by sudo."

# clear any previous sudo permission
sudo -k

# run inside sudo
sudo sh <<SCRIPT
  curl https://packages.treasuredata.com/GPG-KEY-td-

[2016-08-09 21:48] repeatedly commented on #1144
Why? You can't modify your Dockerfile content?

This doesn't make sense because td-agent doesn't include fluent-plugin-secure-forward so updating td-agent doesn't affect your problem.

[2016-08-09 21:53] vichargrave commented on #1144
Yes you are right, sorry.  Forget that script.  I install 3 fluentd plugins with this command in my Dockerfile:

td-agent-gem install fluent-plugin-kubernetes_metadata_filter fluent-plugin-elasticsearch fluent-plugin-secure-forward

So I need to get the patched plugin from wherever td-agent-gem is getting these plugins.  You are going to post the fixed version eventually, right?

[2016-08-09 21:55] vichargrave commented on #1144
Alternatively I can copy the patched plugin file directly into my Docker container right before I run td-agent.  I’ll try that, but again it is better if I can get the new version from the official td-agent-gem location.

[2016-08-09 21:56] repeatedly commented on #1144
@tagomoris How about my patch?

[2016-08-09 21:57] vichargrave commented on #1144
I’ll test according to my last note.  Sorry for my confusion.

[2016-08-09 23:29] igorpeshansky commented on #139
I am consistently hitting this issue (`process finished code=6`). This is probably caused by something I'm doing in my [plugin code](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/tree/grpc) (add `use_grpc true` to the plugin config to turn on). However, when I run fluentd with the same config outside of the service framework (even with --daemon), it does not crash. The crashes

[2016-08-09 23:40] repeatedly commented on #139
Please paste your fluentd / plugin versions and configuation to reproduce the problem.

[2016-08-09 23:46] vichargrave commented on #1144
OK the patch works!  When I kill the aggregator, the forwarders do not crash.  Instead they wait until the forwarder s back up.  Awesome.

[2016-08-09 23:52] igorpeshansky commented on #139
Thank you for responding. Here are the fluentd and plugin versions:
[code]
Unfortunately, the easiest way to reproduce would be to run https://dl.google.com/cloudagents/install-logging-agent.sh on a Google Compute Engine VM, then `/opt/google-fluentd/embedded/bin/gem install --pre fluent-plugin-google-cloud`, then edit `/etc/google-fluentd/google-fluentd.conf` and add `use_grpc true` right under `

[2016-08-10 02:39] tagomoris commented on #1144
Catching resolver error looks reasonable. I'll merge that patch and release new version of secure-forward plugin.

[2016-08-10 07:10] #1139 closed

[2016-08-10 08:04] repeatedly commented on #804
I rebased the patch.
I think there is no blocker for merging the patch.

[2016-08-10 10:16] repeatedly commented on #1144
fluent-plugin-secure-forward has been released. Closed.

[2016-08-10 10:16] #1144 closed

[2016-08-10 10:34] #804 closed

[2016-08-10 15:21] vichargrave commented on #1144
Awesome.  Thanks for your help.

-- vic

Sent from my iPhone

[2016-08-10 15:39] tgalyean commented on #804
Thanks! Ill test this out in the next week or so.

[2016-08-10 21:48] macdjord opened #1156 "Error: 'uninitialized constant Fluent::Compat::HandleTagAndTimeMixin'"
On starting td-agent, I get the following error:

    2016-08-10 17:31:20 -0400 [error]: unexpected error error_class=NameError error="uninitialized constant Fluent::Compat::HandleTagAndTimeMixin"
      2016-08-10 17:31:20 -0400 [error]: /opt/td-agent/embedded/lib/ruby/gems/2.1.0/gems/fluentd-0.14.2/lib/fluent/compat/output.rb:655:in `start'
      2016-08-10 17:31:20 -0400 [error]: /opt/td-agent/e

[2016-08-10 21:56] repeatedly commented on #1156
What the plugin do you use?

[2016-08-10 22:01] macdjord opened #1157 "out_file plugin adds <parse> section to config then complains about it"
I have the following file output defined in my td-agent.conf:

    <store>
    	@type file

    	path /var/log/td-agent/docker-containers
    	time_slice_format %Y%m%d
    	time_slice_wait 10m
    	time_format %Y%m%d@%H%M%S%z
    	utc

    	compress gzip
    </store>

After parsing, this becomes in the log file:

    <store>
      @type "file"
      path "/var/log/td-agent/docker-containers"

[2016-08-10 22:02] macdjord commented on #1156
2016-08-10 17:50:17 -0400 [info]: gem 'fluent-mixin-config-placeholders' version '0.4.0'
    2016-08-10 17:50:17 -0400 [info]: gem 'fluent-mixin-plaintextformatter' version '0.2.6'
    2016-08-10 17:50:17 -0400 [info]: gem 'fluent-plugin-concat' version '0.5.0'
    2016-08-10 17:50:17 -0400 [info]: gem 'fluent-plugin-mongo' version '0.7.13'
    2016-08-10 17:50:17 -0400 [info]: gem 'fluent-plugin-

[2016-08-10 22:03] repeatedly commented on #1156
Please paste entire logs.

[2016-08-10 22:05] macdjord commented on #1156
2016-08-10 17:50:16 -0400 [info]: Worker 0 finished unexpectedly with status 1
    2016-08-10 17:50:17 -0400 [info]: Received graceful stop
    2016-08-10 17:50:17 -0400 [info]: reading config file path="/etc/td-agent/td-agent.conf"
    2016-08-10 17:50:17 -0400 [info]: starting fluentd-0.14.2 without supervision
    2016-08-10 17:50:17 -0400 [info]: gem 'fluent-mixin-config-placeholders' version

[2016-08-11 00:16] repeatedly commented on #139
@igorpeshansky

So this problem is hard to reproduce on vanilla Ubuntu or CentOS?
If so, I want to use your environment for debugging.

[2016-08-11 00:26] igorpeshansky commented on #139
Thank you for responding.
The problem for me appears only when using the Google Cloud output plugin with my latest changes enabled. I suspect the code is doing something nasty, causing fluentd/ruby to quit, but there is no indication of what that is. It may be possible to reproduce outside of Google Cloud, but it would be difficult to obtain the necessary credentials that would work on a standalon

[2016-08-11 15:02] alogoc opened #1158 "error_class=Elasticsearch::Transport::Transport::Errors::BadRequest error="[400] {\"error\":\"ElasticsearchParseException[Failed to derive xcontent]\",\"status\":400}"
**- fluentd or td-agent version.**

`Package: td-agent
Versions:
2.3.2-0 (/var/lib/apt/lists/packages.treasuredata.com_2_ubuntu_trusty_dists_trusty_contrib_binary-amd64_Packages.gz) (/var/lib/dpkg/status)
 Description Language:
                 File: /var/lib/apt/lists/packages.treasuredata.com_2_ubuntu_trusty_dists_trusty_contrib_binary-amd64_Packages.gz
                  MD5: 9a8c3c5185974525f7e

[2016-08-11 19:33] macdjord commented on #1156
Update: Reinstalled td-agent from scratch, making sure to completely blow away the installed gems folder. Installed gems section of the log now looks like this:

    2016-08-11 15:25:17 -0400 [info]: starting fluentd-0.12.26
    2016-08-11 15:25:17 -0400 [info]: gem 'fluent-mixin-config-placeholders' version '0.4.0'
    2016-08-11 15:25:17 -0400 [info]: gem 'fluent-mixin-plaintextformatter' versio

[2016-08-11 19:34] macdjord commented on #1157
Problem went away once I downgraded `gem 'fluentd' version '0.14.2'` to `gem 'fluentd' version '0.12.26'`.

[2016-08-11 22:58] okkez commented on #1157
`out_file` cannot accept sub sections, yet.
I'm working for issue on #1159

[2016-08-12 18:34] sallespro opened #1160 "error="undefined method `to_msgpack'"
Using https://github.com/fluent/fluentd-docker-image, the error shows up with Elasticsearch and InfluxDB Output plugins.

#### Problem(s)

2016-08-11 21:49:35 +0000 [warn]: emit transaction failed: error_class=NoMethodError error="undefined method `to_msgpack' for BSON::ObjectId('572a626be5f72f000600000c'):BSON::ObjectId" tag="ast13-ast-1"
  2016-08-11 21:49:35 +0000 [warn]: /usr/lib/ruby/gems/2.3

[2016-08-13 01:47] repeatedly commented on #1160
Input plugin should not emit non-json type key/value.
This seems a bug of fluent-plugin-mongo so I close this issue.
Please re-open an issue on fluent-plugin-mongo

[2016-08-13 01:47] #1160 closed

[2016-08-13 01:52] repeatedly commented on #1158
I'm not sure this is a bug of fluentd / fluent-plugin-elasticsearch: https://github.com/elastic/elasticsearch/issues/8595
We need more information.

[2016-08-13 01:53] #1158 closed

[2016-08-13 01:54] repeatedly commented on #1158
You have already posted same issue on fluent-plugin-elasticsearch.
If the problme is fluentd core, please re-open.

[2016-08-15 03:38] bungoume opened #1161 "Error: "undefined method `+' for nil:NilClass" in plugin/output.rb"
I got this error in fluentd 0.14.
[code]
This error did not occur in Fluentd 0.12.26.

## Config
configuration is like this.
[code]

## environment
Running in Docker container.

[code]

[code]

[2016-08-15 04:46] tagomoris commented on #1161
Oh, I found a bug that `MultiOutput` (base class of `out_copy`) doesn't call `#start` of `@outputs`.

[2016-08-15 05:52] tagomoris commented on #1161
This bug is caused by the combination of these reasons:
* plugins' lifecycle methods will be called from RootAgent
* RootAgent calls lifecycle methods of instances in `lifecycle_control_list`
* MultiOutput instantiates and configures output plugins for `<store>` sections, but doesn't set its `@outputs` content into one of RootAgent

[2016-08-15 10:18] tagomoris commented on #1072
@frsyuki Yes. But totally, that configuration is broken in that case.

[2016-08-15 10:48] tagomoris commented on #1157
Fluentd v0.14 does convert configurations in v0.12 style (without `<parse>` section) into v0.14 style (with `<parse>` section) to make it compatible with both of v0.12 API plugins and v0.14 API plugins.
Currently (in v0.14.2), `tail` plugin works on v0.12 API. So the log you've shown is correct (I understand it's a bit confusing).

[2016-08-15 10:48] #1157 closed

[2016-08-15 10:51] tagomoris commented on #1156
It's a bug of v0.14, `require 'fluent/compat/handle_tag_and_time_mixin'` is missing in output.rb.

[2016-08-15 16:36] robert-7 opened #1162 "Error: Invalid Conditional Pattern for, apparently, valid regex"
## fluentd or td-agent version
td-agent-2.3.1-0.el6

## Environment information, e.g. OS
CentOS 6

## Your configuration
[code]

## Your problem explanation. If you have an error logs, write it together.
When I try to start td-agent, I get an error saying my conditional pattern is invalid.
[code]

This is also happens when I use Fluentular:
goo.gl/URE310

However, when I use regex101 to verify my

[2016-08-15 19:57] repeatedly commented on #1162
Ruby's regexp is not based on PCRE.
Your pattern is PCRE specific syntax, right?

[2016-08-16 05:40] stevenc81 opened #1163 "es_size not resolved - Fluentd 0.14.2 with Datadog plugin 0.18"
2016-08-16 05:29:31 +0000 [warn]: emit transaction failed: error_class=NameError error="undefined local variable or method `es_size' for #<Fluent::DdOutput:007f9ea78381d0>" tag="fluentd.metrics"
  2016-08-16 05:29:31 +0000 [warn]: /usr/lib/ruby/gems/2.3.0/gems/fluentd-0.14.2/lib/fluent/compat/output.rb:368:in `block in handle_stream_simple'
  2016-08-16 05:29:31 +0000 [warn]: /usr/lib/ruby/2.3.0/m

[2016-08-16 07:47] repeatedly commented on #1163
Thanks for the report.
It seems a typo here: https://github.com/fluent/fluentd/blob/c18015ca28c4a8a61b632aaa15dc88f9dba2aae5/lib/fluent/compat/output.rb#L368

[2016-08-16 21:31] repeatedly commented on #1163
Here is a patch: https://github.com/fluent/fluentd/pull/1164
Could you try it?

[2016-08-17 05:07] stevenc81 commented on #1163
Thanks for the prompt fix @repeatedly :) I've fallback to version v0.12 as it seems we have some more compatibility issues with v0.14? Sorry to digress, here is another interesting one that only happens in v0.14

https://github.com/awslabs/aws-fluent-plugin-kinesis/issues/80

[2016-08-17 05:15] repeatedly commented on #1163
Compatibility layer should work but we don't test all plugins. So it may have a bug.

[2016-08-17 09:17] #1163 closed

[2016-08-17 12:42] portante commented on #879
@tagomoris, any updates on these related efforts?

[2016-08-17 12:54] tagomoris commented on #879
I'll be done after #1059 merged (in other words, it's proceeding).

[2016-08-18 09:04] ganmacs opened #1169 "Support a data compression in buffer plugins"
Buffer plugins maintain data as raw `String` object.
This way consumes many memory resource and bandwidth of the network.
To reduce this wasteful consumption, I propose that support a data compression in buffer plugins.

### Tasks

* Add `compress true` in buffer plugin configuration.
* Compress a `chunk` by using zlib in `concat`
* Decompress a `chunk` in `write_to`

[2016-08-19 06:20] #1150 closed

[2016-08-19 06:28] tagomoris commented on #1169
It looks better to do decompression in `#open` with optional argument not to do it forcedly (to get compressed binary for any purpose, including compressed data transferring over network).
But let me see how your implementation goes.

[2016-08-19 07:20] ganmacs commented on #1169
I think implementing decompression code in `#open` doesn't work well in  `MemoryChunk` class.
Becuase `MemoryChunk ` class overrides `#write_to` to avoid calling `#open` for optimization.
What do you think?

https://github.com/fluent/fluentd/blob/master/lib/fluent/plugin/buffer/memory_chunk.rb#L84

[2016-08-19 09:34] KunalAggarwal commented on #998
Okay So I am using the latest fluent version and still encountering the same issue.

Given below is my Fluent Config:

[code]

Following is the log line (this is a general Apache Log Line in which I have garbled alphabets to mask data):

`<13>Afu 19 13:26:58 10.66.11.18 <13>Age 19 13:26:58 kldg-11-18 203.115.114.234, 203.115.114.234, 10.96.11.220 10.96.109.10 - - [19/Awn/2016:12:52:21 +0530] "GET

[2016-08-19 09:41] KunalAggarwal opened #1173 "Fluentd UDP Input stops processing logs at a certain huge log line"
I had opened this issue previously but was marked closed, since I was unable to replicate it.
I have managed to piece together the PoC for this problem.

Previously opened Issue: https://github.com/fluent/fluentd/issues/998

I am using the latest fluent version and still encountering the same issue.

Given below is my Fluent Config:

[code]

Following is the log line (this is a general Apache Log

[2016-08-19 10:03] harryge00 opened #1174 "How to embed json output?"
I want to add an embeded json as a field,
[code]
becomes
[code]
Similar as:
http://stackoverflow.com/questions/27523945/modify-fluentd-json-output

Maybe I need to hack a filter plugin?

[2016-08-19 10:48] repeatedly commented on #1173
Re-open issue. Use re-open instead of new issue.

[2016-08-19 10:48] #1173 closed

[2016-08-19 15:39] sahilsareen commented on #672
I hit the same bug with td-agent, trying out `--no-supervisor`

[2016-08-19 15:47] repeatedly commented on #1174
Try record_transformer:

[code]

[2016-08-20 01:48] harryge00 commented on #1174
thanks! it solves my problem!

[2016-08-20 01:48] #1174 closed

[2016-08-20 10:21] harryge00 opened #1175 "How to rename fluentd key name besides using plugin?"
How to rename "message" to "log" ?
[code]

[2016-08-20 10:21] #1175 closed

[2016-08-20 10:22] repeatedly commented on #1175
If you have a question, please use mailing list, not issue.
See the guide: https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md#got-a-question-or-problem

[2016-08-22 02:55] ikarin opened #1177 "Support a Kudu ?"
Kudu is a Columnar Storage Engine
https://kudu.apache.org/docs/developing.html

Planning a support?

[2016-08-22 04:22] repeatedly commented on #1177
I'm not sure.
Fluentd core doesn't support such specific storage, so it depdens on the community.

[2016-08-22 04:22] #1177 closed

[2016-08-22 10:58] #1156 closed

[2016-08-24 08:46] gcs-github commented on #703
I stumbled upon this while running the latest git tip. What information can I give you which would be useful?

[2016-08-24 10:24] tagomoris commented on #1129
As far as I checked v0.12 code, signal handler for SIGUSR1 does iteration for `@buffer.keys` without any locks/mutex.
https://github.com/fluent/fluentd/blob/v0.12/lib/fluent/supervisor.rb#L551
https://github.com/fluent/fluentd/blob/v0.12/lib/fluent/agent.rb#L116
https://github.com/fluent/fluentd/blob/v0.12/lib/fluent/output.rb#L293

If the running thread changes from this thread to another thread

[2016-08-24 10:30] tagomoris commented on #1162
It uses PCRE extended regular expression syntax.

[2016-08-24 10:30] #1162 closed

[2016-08-24 10:47] tagomoris opened #1180 "Fluentd process continues to restart if ConfigError raised"
When I wrote a configuration file which raises configuration errors, Fluentd v0.14 continues to restart until I makhde Ctrl-c.

[code]

I expected that Fluentd doesn't restart for configuration errors.

[2016-08-24 10:51] repeatedly commented on #1129
@tagomoris Ah, I forgot to check signal handler path. I will write a patch.

[2016-08-24 13:34] Ninir commented on #915
@kakoni could you share the whole file (parser) and how to implement it please?

[2016-08-24 14:19] tagomoris commented on #915
I showed just API capability, but it's not implemented yet.

[2016-08-25 05:38] repeatedly commented on #888
I re-think this issue and I want to announce v0.10 EOL at the end of 2016.
Almost users are moved to td-agent 2 and newer users use v0.12 on production.
In addition, popular plugins work with v0.12 / v0.14.
In this year, we can release stable v0.14 so I think the end of 2016 is good.

How about this timeline?

[2016-08-25 07:06] kakoni commented on #915
@Ninir Heres an example
https://gist.github.com/kakoni/b0ef238e630e65e860c83bfe55ffb53a

But obviously this would only work if you always read_from_head (which is exactly the case in my situation)

[2016-08-25 07:07] Ninir commented on #915
@tagomoris got it!
@kakoni Thank you good sir, perfect :)

[2016-08-25 13:19] repeatedly commented on #1129
@Yanson I attached a patch for this problem.
Could you try it on your environment?
One easier way is download output.rb, wget https://raw.githubusercontent.com/fluent/fluentd/36f2c359286c78489b7d71b22412dbf727c32e60/lib/fluent/output.rb, and copy it into your fluentd's lib/fluent/output.rb

[2016-08-25 14:24] stankud opened #1182 "in_tail doesn't tail log file upon log rotation"
fluentd version:  0.12
environment: Ubuntu AWS EC2 instance

configuration:
\<source>
  type tail
  format json
  time_format %Y-%m-%dT%H:%M:%S.%L%Z
  path /path/to/log/file,
  pos_file /path/to/pos/file
  read_from_head true
  tag desktop-site
\</source>

Upon log rotation in_tail does not tail the new log correctly. Removing the pos file and restarted fluentd agent fixes the issue.

@igorpeshans

[2016-08-25 14:25] Yanson commented on #1129
Applied it to the env. Should be able to tell if it worked by tomorrow.

[2016-08-25 15:22] repeatedly commented on #1182
Could you show me the content of pos_file?
in_tail is widely used and it works well with log rotation like logrotate.
So I want to know what the cause is the problem.

[2016-08-25 15:23] stankud commented on #1182
@repeatedly

/var/log/upstart/desktop-site.log	00000000000876fa	0000000000001eec

[2016-08-25 18:28] stankud commented on #1182
@repeatedly it looks like upstart tasks are rotated with logrotate. How does the pos file get reset? Maybe this is not happening because I'm using a custom directive?

[2016-08-25 20:22] repeatedly commented on #1182
`0000000000001eec` is inode. Is 2nd line after log rotated content?

Currently, removing pos_file is needed if you want to reset the content.
Does your fluentd log contain "detected rotation" like message?

[2016-08-25 21:05] stankud commented on #1182
@repeatedly
Yes, "detected rotation" message is there.

I think I may have figure out the source of this issue. This has to do with the default logrotation config for upstart on ec2: /etc/logrotate.d/upstart

The config is as follows:

/var/log/upstart/*.log {
        daily
        missingok
        rotate 7
        nocreate
        compress
        notifempty
}

Removing the nocreate option fixes

[2016-08-26 04:37] repeatedly commented on #1182
I see. I checked logrotate document and this document says "New  log  files  are  not  created" when `nocreate` is specified: http://www.linuxcommand.org/man_pages/logrotate8.html
I'm not sure when `nocreate` option is useful...

[2016-08-26 04:49] tagomoris commented on #1182
`nocreate` is used for the cases with no log lines between rotations, not to create empty files.

[2016-08-26 05:12] repeatedly commented on #1182
So `nocreate` is not fit for typical application logs?

[2016-08-26 05:13] tagomoris commented on #1182
Yes.

[2016-08-26 05:16] #1182 closed

[2016-08-26 05:16] repeatedly commented on #1182
Thanks for the information. I will add this `nocreate` case to in_tail article.

[2016-08-26 08:01] tagomoris commented on #1115
Another pattern: `in_dummy`
<details>
[code]
</details>

[2016-08-26 13:12] tagomoris commented on #1115
Another pattern: `test_in_tail`
<details>
[code]
</details>

[2016-08-26 13:17] tagomoris opened #1185 "v0.14 stable version task list"
- [ ] Remove dependency of parsers only for exec plugins from exec plugins, switch to use normal parsers
- [x] Fix bug of process handling on Windows ( #1084 )
- [x] Mark `host` and `port` out of `<server>` sections as deprecated ( #1186 )
- [x] Fix bug to restart worker process for configuration errors ( #1180 #1183 )
- [ ] Remove all warnings

[2016-08-26 13:44] #1180 closed

[2016-08-26 13:51] Yanson commented on #1129
One server still seemed to be affected after the fix. Let's give it a few more days to verify. I'll report back on Tuesday.

[2016-08-26 14:21] robert-7 commented on #1162
I'm not sure what the differences between the syntaxes are in this case, but it was resolved with this small change:
`format /((?=request:)request:(?<request>.*))/`

[2016-08-26 16:04] repeatedly commented on #1129
Thanks!

[2016-08-27 08:04] mia-0032 opened #1187 "v0.14 call `write` before `start` finished in BufferedOutputPlugin"
Fluentd v0.14 call `write` before `start` finished in BufferedOutputPlugin.
This problem occurs if `start` method processing time is longer than `try_flush_interval` and buffer exist Fluentd started.
But the problem occurs not always... another trigger may exist.

- fluentd or td-agent version.

fluentd master branch ( 1f7719e1a97360e73f02b314ff38c906e01ffaee ) and v0.14.2 tag

- Environment infor

[2016-08-28 20:01] averri opened #1188 "parser filter is removing fields"
The **parser** filter is removing fields.

Consider the following config file:

[code]

The log message before parser:

[code]

The log message after parser:

[code]

The fields `container_id`, `source` and `container_name` have been removed. If this is not a bug, this behaviour is terrible, as it is very unintuitive.

[2016-08-28 22:04] #1188 closed

[2016-08-28 22:05] repeatedly commented on #1188
This is fluentd repository, not parser plugin repository.
See this guideline: https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md#found-a-bug

[2016-08-29 07:02] tagomoris commented on #1187
I confirmed that this error occurs when file buffer resumes chunks in its `#start`, and runs its flush thread besides `Output#start` doesn't return yet.

[2016-08-29 07:48] repeatedly opened #1189 "Port parser filter of fluent-plugin-parser into core plugins."
Plugin repository is here: https://github.com/tagomoris/fluent-plugin-parser

`parser` filter is for parsing a field of record and update the record by using parsed result.
This is useful when forwarding device can't generate proper structured record, e.g. docker logging driver, embedded device, etc.
fluentd and docker combination is now widely used and lots of users use `parser` filter on product

[2016-08-29 15:01] #1187 closed

[2016-08-29 16:35] mia-0032 commented on #1187
@tagomoris Thanks!

[2016-08-30 05:51] #1084 closed

[2016-08-30 08:26] tagomoris commented on #1115
Another pattern: `FD_SETSIZE`:
[code]

[2016-08-30 12:51] Yanson commented on #1129
I'm afraid this is still happening. Either I applied it to the wrong file or it's not the cause of the issue.

[code]

[code]

[code]

[code]

[2016-08-30 17:20] icio opened #1195 "`gem install fluentd:0.14.2` installation broken because of recent serverengine:2.0.0 release"
fluentd 0.14.2 specifies the dependency [`gem.add_runtime_dependency("serverengine", [">= 1.6.4"])`](https://github.com/fluent/fluentd/blob/1ef51cbfcc51e24d923173c27b7adf7724c6979a/fluentd.gemspec#L26) which resolves to the recently-released [serverengine:2.0.0](https://rubygems.org/gems/serverengine/versions/2.0.0), but fluentd 0.14.2 is not compatible with serverengine 2.0.0.

The installation s

[2016-08-30 17:21] warmfusion commented on #1195
This appears to have been fixed by the following as yet unreleased change :

https://github.com/fluent/fluentd/blob/37fb0a44eea7af6b8bf81a6a79c9b1c2d8b36fa5/lib/fluent/supervisor.rb

[2016-08-30 17:23] icio commented on #1195
Replacing serverengine 2.0.0 with 1.6.4 resolves the issue:

[code]

[2016-08-30 17:32] icio commented on #1195
I suggest a quick deploy of #1196 tagged under 0.14.3 to resolve this issue, despite the changes to support serverengine 2.0.0, as noted by @warmfusion above.

[2016-08-30 17:47] repeatedly commented on #1195
Fixed by v0.14.3. Thanks for the report.

[2016-08-30 17:47] #1195 closed

[2016-08-30 17:48] icio commented on #1195
🎉  Nice one

[2016-08-30 18:32] KunalAggarwal commented on #998
Any update guys? I am facing this problem quite frequently.

[2016-08-31 02:47] pseudobeer commented on #1020
fluentd-0.12.26 on Google Compute Engine instance running CentOS Linux release 7.2.1511. Gets stuck with a deadlock. Can only be terminated with SIGALRM.

Process hierarchy looks like this
[code]

Config is below:
[code]

File at path is not a symlink. We pass input from in_tail through record_reformer, forest and finally upload it to BigQuery.

strace on the [Child1] generates following output co

[2016-08-31 08:14] nurse commented on #1020
@pseudobeer
strace result is timer thread's one; it's normal behavior.

pid2line's result shows the main thread is running in regular expression engine.
Maybe your configuration's `/some regex/` hits a [backtrack explosion](https://swtch.com/~rsc/regexp/regexp1.html).

[2016-08-31 10:26] repeatedly commented on #1129
Hmm... I see.
I update my patch, https://github.com/fluent/fluentd/pull/1181, to make lock scope longer to check enqueue_buffer has a problem or not.
If you have a time, could you apply new patch again?
Sorry for the inconvenience...

[2016-08-31 10:46] Yanson commented on #1129
No problem, I've applied it.
If I haven't reported back by this time tomorrow, please ping me as I am going on holiday soon and expect this environment to be torn down by my return. We only have one more opportunity to apply a patch and test it.

[2016-08-31 10:46] pseudobeer commented on #1020
@nurse

That was a backtrack explosion indeed. Fixing helped, thanks for a useful link.

[2016-08-31 13:00] cosmo0920 commented on #1115
Unfortunately, I've confirmed that https://github.com/fluent/fluentd/issues/1115#issuecomment-242731309 pattern is still existing in Fluentd 29fa4b90c8ad2a9c6332a8a8971e8a544a0996e1.

[2016-08-31 23:03] repeatedly commented on #888
There is no counter opinion from core developers.
I will announce v0.10 EOL in the mailing list.

[2016-09-01 00:03] repeatedly commented on #998
I want to know in_udp accepts entire log line or not?
udp packet size depends on system setting or tools.
For example, `nc` truncates the data to 1024 by default.
I assume in_udp receive broken data and it causes this CPU issue.

[2016-09-01 06:26] #873 closed

[2016-09-01 09:22] cosmo0920 commented on #1115
Now, I'm investigating this issue, but I didn't meet any tests failure.
And tests does not fail in AppVeyor recently: https://ci.appveyor.com/project/fluent/fluentd/history

[2016-09-01 09:52] tagomoris commented on #1038
It's better to suppress log forwarding into plugins before `#start` completion, and just before calling `#stop`.
Plugins can process events between `#start` and `#stop`. Otherwise, plugins cannot process events in general.

So we should stop emitting Fluentd's log events out of these state, and also should add an option to emit events forcedly always.

[2016-09-01 10:24] tagomoris commented on #1115
I edited the title, because I also found suspicious case on Travis...
[code]

[2016-09-01 10:32] Yanson commented on #1129
Sorry. This updated patch hasn't helped.

[2016-09-01 10:34] repeatedly commented on #1129
Hmm... so the problem doesn't happen inside buffer operations.

[2016-09-01 10:35] repeatedly commented on #1129
Happened error is same as before, right?

[2016-09-01 11:01] Yanson commented on #1129
Yeah, I verified it as shown in #issuecomment-243428071.

[2016-09-01 13:36] perchten opened #1201 "Buffer match without type declaration fails with NIL reference"
## Environment

- fluentd 0.14.2
- -
- Ubuntu 16.04

## Configuration

[code]

Note specifically the presence of the following buffer section, copied almost verbatim from http://docs.fluentd.org/articles/buffer-plugin-overview

[code]

## Error

When the buffer match is present a NIL reference occurs. If I remove the buffer section, the error disappears.

The error trace:
[code]

I've no familiari

[2016-09-01 13:57] tagomoris commented on #1201
@perchten Could you paste the full stacktrace of your error?
But anyway, we should raise explicit configuration error when `@type` is not specified.

[2016-09-01 16:51] repeatedly commented on #1113
Sorry. I forgot to reply.

How about removing jemalloc LD_PRELOAD from /etc/init.d/td-agent?

[2016-09-01 17:30] perchten commented on #1201
Um, I'd love to. ... but I haven't a clue how to trigger that.

I added `-vv` to the command, which is all I found in the docs.

On 1 September 2016 at 14:57, tagomoris <notifications@github.com> wrote:

--

*07779266625*
*al@builtbybrayne.com* <al@builtbybrayne.com>

--

--

<http://builtbybrayne.com>

*Right Brayne : Left Brayne Ltd*
*Tel:       *+44 (0) 7779266625
*Email:*  contact@builtbybrayn

[2016-09-01 19:52] cbh34680 commented on #1113
ご確認ありがとうございます。
jemalloc の LD_PRELOAD をコメントにして実行しましたが、状況は変わりませんでした。

前回と同じ内容かもしれませんが、念のため記録を転記致します。

#### package
[code]

#### diff
[code]

#### stderr
[code]

[2016-09-02 04:12] tagomoris commented on #1115
[code]

[2016-09-02 04:13] tagomoris commented on #1115
[code]

[2016-09-02 04:46] #1201 closed

[2016-09-02 10:13] repeatedly commented on #1201
I added one comment to buffer-plugin-overview config: https://github.com/fluent/fluentd-docs/commit/8dc848bdc8d5335606388bd58597840db3a08b32

[2016-09-02 13:37] perchten commented on #1201
Sorry, I don't think this should have been closed yet.

The error I'm getting is without the @type annotation. Adding the documentation and improving the error message are both helpful. But it does not address the actual problem; that the error is being thrown in the first place.

[2016-09-02 14:08] Yanson commented on #1129
I've been able to reproduce this today by forcing logrotate:
[code]

I've also tried changing `@map.each_key` to `@map.keys.each` in `buf_file.rb` and `buf_memory.rb` but it hasn't helped. Maybe fixing the `error_backtrace` will give us some more clues?

[2016-09-02 19:50] repeatedly commented on #1129
Yeah, it may help.
Could you apply following patch? `log.puts(e.backtrace)` simply outputs the backtrace of error.

[code]

[2016-09-02 23:01] repeatedly commented on #1201
Sorry, we can't understand your actual problem.
What is your actual problem?
```undefined method `to_sym' for nil:NilClass``` is caused by `@type` missing match and
tagomoris patch fixed this problem.

[2016-09-05 09:16] repeatedly commented on #888
Announced: https://groups.google.com/forum/#!topic/fluentd/c4f9j9VMWkA

[2016-09-05 09:16] #888 closed

[2016-09-05 13:58] #998 closed

[2016-09-05 14:00] repeatedly commented on #998
The problem is in_udp receives truncated logs and it causes regexp explosion issue.
in_udp can change incoming UDP packet size and some users handle 8k+ size logs without problem.
So the problem is outside of fluentd.

[2016-09-05 22:01] fenicks opened #1205 "Unexpected error: "uninitialized constant Fluent::Plugin::MultiOutput""
When using fluentd 0.14.4, I encounter an exception described by the logs below. It seems that `Fluent::Plugin::MultiOutput` is not defined :

[code]

[2016-09-06 06:36] tagomoris commented on #1169
#1172 and #1179 are pushed as pull-requests to solve this issue.

[2016-09-06 06:36] #1169 closed

[2016-09-06 06:38] tatsu-yam commented on #1113
The same problem happend in our environment.
+ Ubuntu 14.04.5
+ td-agent 2.3.2-0
+ fluent-plugin-secure-forward 0.4.1

[code]

[2016-09-06 07:14] tagomoris commented on #767
It has been long time from last comment. Let me close this now, and please re-open if it occurs again.

[2016-09-06 07:14] #767 closed

[2016-09-06 07:24] tagomoris commented on #685
`convert_line_to_event` chomps the newline at the end of given string, and that does nothing about intermediate newlines in strings which matches `\n` in multiline mode regular expressions.
So the case you reported doesn't occur.

[2016-09-06 07:24] #685 closed

[2016-09-06 07:50] tagomoris commented on #609
It's documentation issue which is already solved.

[2016-09-06 07:50] #609 closed

[2016-09-06 07:53] tagomoris commented on #504
refer #1179

[2016-09-06 07:53] #1205 closed

[2016-09-06 08:12] tagomoris commented on #1205
We shipped the quick release v0.14.5 with the fix for this issue.
@fenicks Could you check it?

[2016-09-06 09:23] maxmil commented on #1129
@Yanson is on leave and I'm picking up where he left off.

I've applied the patch but the backtrace only goes as far as where coo.io attaches it to an event loop. I presume that the backtrace is lost after this but that this is not the cause.

``
2016-09-06 08:57:01 +0000 [error]: plugin/in_forward.rb:107:rescue in run: unexpected error error=#<RuntimeError: can't add a new key into hash during it

[2016-09-06 12:12] tagomoris commented on #1115
`test_in_tail` is so unstable...

[2016-09-06 15:35] perchten commented on #1201
The exact problem is as described in the OP under the Error title. I don't know if I can make it any clearer. But just in case:

When I add the following declaration to my `fluent.conf` file:

[code]

then a Nil error is thrown. If that code block is removed, then no error is thrown.

No events matching mon.* are necessarily present.

[2016-09-06 16:01] repeatedly commented on #1201
Your configuration has following directive and this `match` should receive `mon.` prefix events.

[code]

Your problem is this `match` directive doesn't receive `mon.` tagged events?

[2016-09-06 16:27] perchten commented on #1201
No. The problem is that the addition of the buffer directive generates a Nil error.

[2016-09-06 16:30] repeatedly commented on #1201
Yes because following definition is error.

[code]

Buffer plugin is used in output plugin, so buffer plugin condifugraion must be in output plugin configuration. No standalone configuration.

[2016-09-06 16:32] perchten commented on #1201
Look, I'll remove all the extraneous stuff. Here's the most basic off-the-shelf conf file I can create:

[code]

Here's the output when I run it:

[code]

That's it. The buffer directive is generating a NIL error.

Just to prove it, here is the same config WITHOUT the buffer directive:

[code]

And here is the resultant output:

[code]

[2016-09-06 16:36] perchten commented on #1201
Aha!

Now that makes perfect sense.

I confess I did not understand from reading the docs. On a re-reading I can see that this is implied.

Case closed. Thanks

[2016-09-06 19:55] repeatedly commented on #1129
In cool.io, watcher's attach / detach access `@watchers` hash object, but it seems no problem because these methods don't iterate hash object.

If you okay, could you test this problme with latest fluentd v0.14.5?
Executing `/usr/sbin/td-agent-gem install fluentd -v 0.14.5` instead of applying patch is enough.
I'm not sure what the plugins do you use but latest v0.14 should cover existing plugins.

[2016-09-06 21:03] fenicks commented on #1205
@tagomoris It works. Thank you.

[2016-09-06 21:47] maxmil commented on #1129
Our config is not compatible with v0.14.5

[code]

Rather than updating we'd like to find and patch the error in v0.12.26

My suspicion is that cool.io is swallowing the error. I haven't looked at the code in detail but is there somewhere we can put error handling after the cool.io event is dispatched back into fluent code to try to log the error?

[2016-09-07 00:52] tagomoris commented on #1205
Good to hear that!

[2016-09-07 03:35] repeatedly commented on #1129
Could you paste your configuration here without sensitive information?
Buffer related parameters should work without any changes.

[2016-09-07 11:23] warmfusion opened #1213 "in_tail crashes due to uninitialized constant Fluent::Plugin::MultilineParser on 0.14.5"
FluentD 0.14.5
Ruby 2.1.5p2773
Debian Jessie

## Problem

in_tail (and maybe others) do not include the Multiline plugin automatically causing an exception to be thrown when this core coponent is used.

### Fix

Add the following to the includes at the top of in_tail.rb
[code]

### Stack Trace

[code]

[2016-09-07 12:19] repeatedly commented on #1213
Fixed by https://github.com/fluent/fluentd/pull/1212

[2016-09-08 06:39] kamikaseda opened #1215 "in_http plugin doesn't generate trace level log"
in_http plugin doesn't generate log more than info level.

According to in_tail document, it supports whole level.

[code]

- td-agent2 version v2.3.2
- Ubuntu Server 14.04 LTS
- td-agent.conf

[code]
- td-agent.log

[code]
It seems, tdlog only generated trace log.

[2016-09-08 07:33] cosmo0920 commented on #1215
Because in_http plugin does not have `log.trace` line.
`log_level` specifies minimum log level on each plugin like the Ruby's Logger.

[2016-09-08 08:02] kamikaseda commented on #1215
Thank you for reply. Hmm, I see.

[2016-09-08 08:02] #1215 closed

[2016-09-08 11:17] dimaqq opened #1216 "Add v0.14.latest to docker hub"
Right now, docker hub has 0.14.1 and 0.14.2:

https://hub.docker.com/r/fluent/fluentd/tags/

It would help a lot to have 0.14.latest and/or 0.14.6 (latest released)

[2016-09-08 11:20] repeatedly commented on #1216
Please open docker image related issue on fluentd-docker-image repository.

[2016-09-08 11:20] #1216 closed

[2016-09-08 11:22] dimaqq commented on #1216
Done, thanks :)

[2016-09-08 12:19] pareeksanjay05 opened #1217 "I am not able to stdout my custom log4j log"
Check [CONTRIBUTING guideline](https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md) first and here is the list to help us investigate the problem.

- fluentd or td-agent version.
  **fluentd-0.12.26**
- Environment information, e.g. OS.
**Ubuntu 14.04**
- Your configuration

[code]

- Your problem explanation. If you have an error logs, write it together.

[code]

[2016-09-08 15:45] repeatedly commented on #1217
Need `read_from_head true`?

[2016-09-08 15:50] pareeksanjay05 commented on #1217
Are you implying that I should use **read_from_head true** in <source> element?

[2016-09-08 16:06] repeatedly commented on #1217
I assume you try to read exisiting logs, not streaming logs.
For such cases, `read_from_head true` is needed.

[2016-09-08 17:58] stachdude opened #1218 "Failed to write data into buffer by buffer overflow"
- fluentd 0.14.4 - 0.14.6
- Centos 7
- Your configuration

[code]

After a couple o minutes of log tail (logs are streaming) I get this warn/error

[code]

From that moment on, logs are filling up with those error/warns.

Regex is extracting around 36 uniq fields, and the stream flow is around 2-3k eps.

The flow is not stopped, and the process is running, however at this stage I'm unable to ascer

[2016-09-08 18:11] repeatedly commented on #1218
It seems normal traffic.
Does this happen with fluentd v0.12?
If so, your aggregator doesn't have a lack of capacity.
If this happens with only fluentd v0.14, we need to check buffer flush implementation.

[2016-09-08 18:31] repeatedly commented on #1218
If the IO latecy is the problem, adding `num_threads` may help.

[2016-09-08 19:00] stachdude commented on #1218
My setup is run only on v 0.14.x

IO latency is kind of out of question, as I'm using storage array that is easily capable of reads over 80k.

I've try increasing `num_threads` up to 4, with the same effect.

@repeatedly I can try to setup v 0.12.x in my environment if that can be helpful.

[2016-09-09 00:44] repeatedly commented on #1218
This indicates network releated IO of out_forward, not in_tail.

Interesting. Flushing speed seems not the cause.

It would be helpful.

[2016-09-09 00:49] #1213 closed

[2016-09-09 06:37] pareeksanjay05 commented on #1217
It worked like charm. Thankyou so much :)

[2016-09-09 07:21] #1217 closed

[2016-09-09 07:54] dimaqq opened #1219 "comparison of NilClass with 1473379200 failed"
My stack:
* fluentd 0.14.6
* gem install json_pure fluent-plugin-loggly

My config:
* follow apache log files
* buffered, bulk upload to loggly

II get a bunch of errors like this:

[code]

Test log record:
[code]

I'm not sure if this is fluentd internal error or the output plugin.

[2016-09-09 07:57] repeatedly commented on #1219
Could you paste your configuation?

[2016-09-09 07:59] dimaqq opened #1220 "time must be a Fluent::EventTime (or Integer): Float"
My stack:
* fluentd 0.14.6
* gem install json_pure fluent-plugin-loggly

My config:
* accept fluent's own protocol over tcp
* sender is Python + fluent-logger
* buffered, bulk upload to loggly

Error:
[code]

It's partially my responsibility, because I forced a float to `.emit_with_time()`.

My intention was to get fluentd to process timestamp with millisecond granularity.

If I should, in fact us

[2016-09-09 08:02] dimaqq commented on #1219
Sure thing!

[code]

Data is picked up by `apache.access`.

Apache is configured to dump logs in JSON format, that is one JSON document per line.

[2016-09-09 08:29] dimaqq commented on #1219
Sample `access.log` content:

[code]

Note that `time` is floating point, using `LogFormat "{ \"time\":%{sec}t.%{msec_frac}t, ...` in apache config.

[2016-09-09 08:41] repeatedly commented on #1220
Fluentd's event time is nano-second granularity since v0.14.
Each language loggers should support it in the future, not float for millisecond.

[2016-09-09 08:44] dimaqq commented on #1220
Ok, what is the binary, `msgpack` format for nanosecond timestamp?

[2016-09-09 08:48] cosmo0920 commented on #1220
EventTime ext format specification will help you: https://github.com/fluent/fluentd/wiki/Forward-Protocol-Specification-v1#eventtime-ext-format

[2016-09-09 08:54] dimaqq commented on #1220
Thanks, I'll hack up a merge request against python bindings if functionality is not there yet.

[2016-09-09 08:59] repeatedly commented on #1219
From your log, error happened with `apache.error`
How to determine `apache.access` is the problem? > "Data is picked up by apache.access"

[2016-09-09 10:05] dimaqq commented on #1219
Something is weird...

I've deleted all containers and volumes and now this specific error is gone.

I suspect that old version of fluentd (0.12.29) left data in the volume and new version (0.14.6) could not understand it.

This data could be loggly_buffered buffer at `/data/loggly-buffer`, or position files at `/data/*-*.pos` or fluentd's own data at `/data/data.*.log` or metadata at `/data/data.

[2016-09-09 10:29] dimaqq opened #1221 "Clarify EventTime msgpack extension"
msgpack has 2 extension mechanisms:
* fixext for fixed length extension data where `len(data) in (1,2,4,8,16)`, and
* ext for variable length extensions

Wiki (https://github.com/fluent/fluentd/wiki/Forward-Protocol-Specification-v1#eventtime-ext-format) specifies extension starting byte `C7`, however:

example seems wrong: variable-length extensions need a size byte, thus message would be `c7 08

[2016-09-09 12:54] dimaqq commented on #1220
https://github.com/fluent/fluent-logger-python/pull/61 :-)

[2016-09-09 13:08] dimaqq opened #1222 "Methods for shutdown sequence called twice"
[code]

* Fluentd 0.14.6
* Output plugin with buffering

[2016-09-09 15:19] repeatedly commented on #1222
Please paste your configuration.

[2016-09-09 15:43] #1220 closed

[2016-09-09 15:43] repeatedly commented on #1220
Should be handled by other plugins

[2016-09-09 15:53] dimaqq commented on #1222
[code]

[2016-09-09 16:32] repeatedly commented on #1219
@tagomoris Do we have a plan to add a feature which converts existing older buffers into new buffers?

[2016-09-09 16:34] repeatedly commented on #1129
@nurse Cool.io is C extension and does it cut stacktrace information?

[2016-09-09 18:50] nurse commented on #1129
@repeatedly In C extension there's C level stacks.
But in Ruby level backtrace they don't appear.

`#<RuntimeError: can't add a new key into hash during iteration>` is raised by Ruby's C API, which seems to be called by cool.io.
If we can reproduce the issue, we catch the exception with GDB or investigate with custom built Ruby...

[2016-09-10 17:06] repeatedly commented on #1222
I noticed your log contains duplicated `close` call.

[code]

Could you paste your entire fluentd log? I want to know setup log together.

[2016-09-10 23:26] sbezverk opened #1225 "supervisor.rb:49:in `initialize': No such file or directory @ rb_sysopen"
I am trying to start manually td-agent in docker container and it see the following failure. I would appreciate if somebody could  help to understand what I have done wrong.

[code]

More complete log:

[code]

[2016-09-10 23:48] repeatedly commented on #1225
Log says your container doesn't have `/var/log/td-agent` directory.
td-agent installation script creates related directories, so I assume your docker image build process or setup script remove its directory.

[2016-09-10 23:59] sbezverk commented on #1225
Thank you veru much for your reply. I pulled the image from gcr.io/google_containers/fluentd-elasticsearch:1.6
I kind of assumed it would be the image ready to use.  I will add a step to create this folder at the time of container start. thank you again..

[2016-09-11 00:21] sbezverk commented on #1225
Even after I created right before the start /var/log/td-agent folder, the conainer still crashes. td-agent.log show see below, it is like td-agent is misconfigured in the image :(. Could you please share the location of tested Docker file for fluentd?

cat /var/log/td-agent/td-agent.log
Usage: td-agent [options]
    -s, --setup [DIR=/etc/td-agent]  install sample configuration file to the director

[2016-09-11 00:30] repeatedly commented on #1225
Hmm... do you modify td-agent setting?
For fluentd, fluentd-docker-image is one example.
For td-agent, several users build own docker image using td-agent rpm / deb. I just searched it on github and I found one simple example: https://github.com/pebble/docker-td-agent/blob/master/Dockerfile

[2016-09-11 00:36] repeatedly commented on #1225
Ah, I missed first your reply about `gcr.io/google_containers/fluentd-elasticsearch:1.6`
I'm not sure how fluentd-elasticsearch launches td-agent process but above dockerfile is useful for baseline comparison.

[2016-09-11 05:59] kazegusuri opened #1226 "monitor_agent does strange output in v0.14"
monitor_agent's ouput in v0.14 is weird and different from in v0.12. With folloing configuration:

[code]

in v0.12.29

[code]

in v0.14.6

[code]

There seems to be 3 issues.

1. `copy` plugin is categorized as `unknown`
2. `stdout` plugin inside `copy` plugin is duplicate
3. `stdout` plugin is not buffered output plugin but displays metrics for buffered plugin such as `buffered_total_queue_size`

[2016-09-11 08:26] stachdude commented on #1218
@repeatedly I've repeated  the tests on v. 0.12.29, unfortunately this is the result of a the stream

[code]

So it seems that, at least in my environment, both versions are affected.

[2016-09-12 01:33] repeatedly commented on #232
This is for old API design. Closed

[2016-09-12 01:33] #232 closed

[2016-09-12 05:28] tagomoris commented on #1221
I see what you mean. It's mistake of documentation.
IMO EventTime can be represented by `fixext8`(d7), or `ext8`(c8) (or larger).
There's no matter whether `d7` or `c8` is used.
I'll fix it later.

[2016-09-12 06:25] tagomoris commented on #1219
v0.14 file buffer originally can handle existing buffer chunks generated by older Fluentd (without wiping).
But this issue shows that the hack implementing `sym_link` on `file` output plugins has a bug not to consider about such resumed buffer chunks. It's bug, and should be fixed.

[2016-09-12 06:53] dimaqq commented on #1220
Consider that per https://github.com/fluent/fluent-logger-python/pull/61#issuecomment-245987200 plugins cannot simply send new protocol version.

0.12.x handled float in this field (it truncated value to int and accepted the message).

I believe that 0.14.x needs to accept messages with float too, either by truncating to int like before, or by converting float to EventTime internally.

[2016-09-12 07:22] tagomoris commented on #1222
There are two lines for "closing" `loggly_buffered` too, and twice for shutdown.
[code]

It is the reason why @repeatedly want to see the entire log to check the log messages of launching Fluentd process.

[2016-09-12 07:27] dimaqq commented on #1222
will do.

[2016-09-12 07:35] tagomoris commented on #1218
@stachdude do you have log messages just before starting to show "failed to emit fluentd's log event"?
I think that your forward plugin is failing to connect the destination server, and we can see the root cause from logs.

[2016-09-12 07:49] tagomoris commented on #1226
1. `copy` plugin is categorized as `unknown`.

It's the bug of `#plugin_category`, not to consider about `Fluent::Plugin::MultiOutput`.

[2016-09-12 07:53] tagomoris commented on #1226
* `stdout` plugin inside `copy` plugin is duplicated

It's the bug that `in_monitor_agent` plugin fetches output plugin instances from `root_agent.outputs`, and `output_instance.outputs` if output plugin is an instance of MultiOutput.
Now `root_agent.outputs` contains all output plugin instances including children of MultiOutput.

[2016-09-12 07:57] tagomoris commented on #1226
* `stdout` plugin is not buffered output plugin but displays metrics for buffered plugin such as `buffered_total_queue_size`

This bug description is not correct, because `out_stdout` can work as both of buffered and non-buffered plugin now (v0.14.5 and later).
But we can remove the buffer instance from `@buffer` when it works as non-buffered output. If we do so, we can update code of `in_monitor_

[2016-09-12 08:17] stachdude commented on #1218
@tagomoris actually "failed to emit fluentd's log event" is the first log after normal startup log series.

[2016-09-12 08:25] tagomoris commented on #1218
Please paste the almost entire logs, from "starting fluentd" to the first "failed to emit fluentd's log event".

[2016-09-12 08:37] stachdude commented on #1218
[code]

[2016-09-12 08:38] tagomoris commented on #1221
I updated the spec.
Diff: https://github.com/fluent/fluentd/wiki/Forward-Protocol-Specification-v1/_compare/d201bfe951d240e92b27705dc8d1af071bad0a39...0bac7c47d3852e45f3ec93c4b3a03cb96c9392f2

Thank you to let me know about it!

[2016-09-12 08:41] dimaqq commented on #1221
I think it's `c7 08 00` (tag, length, type code) per https://github.com/msgpack/msgpack/blob/master/spec.md#ext-format-family

[2016-09-12 08:41] tagomoris commented on #1221
Oops, you're right...

[2016-09-12 08:44] tagomoris commented on #1221
Done :P

[2016-09-12 08:44] #1221 closed

[2016-09-12 08:51] tagomoris commented on #1218
Is it Fluentd process which is listening the specified IP address and port 24224?
Is it producing output events?

[2016-09-12 08:56] stachdude commented on #1218
Yes, fluentd v 0.14.6.

[code]

[2016-09-12 09:04] tagomoris commented on #1218
@stachdude Can you monitor the CPU usage status of the node of receiver Fluentd process?
I suppose that the Fluentd process consumes much CPU time to process `geoip` filter plugin for much many fields.
The filter plugin works in the thread of `in_forward`, and too heavy filter processing makes the performance worse.

[2016-09-12 09:27] tagomoris commented on #1220
Fluentd v0.12's behavior about floating point numerics are undocumented, and out of support.
It's unexpected result of calling `to_i` for any objects, including `Float` values, when needed. It's not limited for float.
You can write filter plugins to convert `float` into any objects, using `Filter#filter_with_time` method of Fluentd v0.14. But it can't be supported by Fluentd because of performance

[2016-09-12 09:31] dimaqq commented on #1220
Well guys, it's up to you.

From end-user perspective it's a regression --- this weird stuff we used to do breaks when we upgrade only `fluentd` in our system.

Perhaps you can get by with documenting this fact, e.g.:

[2016-09-12 09:47] dimaqq commented on #1222
https://gist.github.com/dimaqq/d65aea5d7e4f3fcb54fcc55747cf363e

stack traces are different, but plugin is still closed twice.

[2016-09-12 11:19] stachdude commented on #1218
@tagomoris you were right...

I've disabled the geoip plugin, and sending side is working fine now... however on receiving side, where I have now only amqp plugin enabled:

[code]

this happens... But I guess now it's an issue I should post on amqp plugin project site ?

[2016-09-12 12:45] tagomoris commented on #1218
At first, configure that plugin to have more buffer space by `buffer_chunk_limit` and `buffer_queue_limit`. Next, modify `flush_interval` to flush buffer more frequently.
Of course, authors of amqp plugin might know how to configure for high traffic.

Anyway, it's not bug or any kind of issue of Fluentd core.
It's good to know it.

[2016-09-12 12:45] #1218 closed

[2016-09-12 15:16] jchauncey opened #1229 "Errors with in_tail plugin in 0.14.6"
Seeing the following error in my kubernetes fluentd pod

Version:0.14.6 running as a gem
OS: Debian

[code]

[2016-09-13 04:15] tagomoris commented on #1229
Is it a problem what you can reproduce? Is it only about Fluentd v0.14.6, or not?
Could you paste your configuration files?

[2016-09-13 04:18] jchauncey commented on #1229
[code]

This happens everytime i rebuild the image and redeploy. There is a fix I need in 0.14.6 so I dont think I would downgrade.

[2016-09-13 04:31] #504 closed

[2016-09-13 04:45] tagomoris commented on #1229
You have 8 sections for `tail` plugin. Can you specify which section is this problem about?
And could you paste the entire log if this problem happens just after Fluentd launched? Or, could you tell me when it occurs?

[2016-09-13 06:02] tagomoris opened #1230 "Oj in strict mode cannot format Symbols into json"
As I noted on the comments below, setting Oj's default options in `parser_json` affects to the behavior of Oj in `format_json`.
https://github.com/fluent/fluentd/pull/1147#issuecomment-246307029

It's too strict, and a kind of bug.
We should use `compat` mode of Oj globally (need to consider about Oj's default options in both of formatter and parser).

[2016-09-13 06:03] ganmacs opened #1231 "Enable log rotation for `Fluent::Log`"
As the log file increases, it becomes difficult to handle the log file.
So, I want to enable the log rotation for `Fluent::Log` to keep log files down to a manageable size.

I'll add these command line arguments to `fluentd` command.

* `--log-rotate-age`

The number of old log files to keep, or frequency of rotation (`daily`, `weekly` or `monthly`). The default value is 5. it is used when you set

[2016-09-13 09:05] tagomoris commented on #1231
What happens when `--log-rotate-age` is 0?

[2016-09-13 09:19] ganmacs commented on #1231
`log-rotate-age` means "the number of old log files to keep".
When `--log-rotate-age` is 0,  old log files are not created.

[2016-09-13 09:47] tagomoris commented on #1231
@ganmacs What does it mean? Which one?:
* log file will be rotated, but old log will disappear immediately
* log file will not be rotated

[2016-09-13 13:02] jchauncey commented on #1229
I don't know what section the error occurs in. And I gave you the relevant
stack trace.

On Sep 13, 2016 12:46 AM, "tagomoris" <notifications@github.com> wrote:

[2016-09-13 14:52] jchauncey commented on #1229
[code]

[2016-09-13 15:04] jchauncey commented on #1229
If you go back to `0.14.5` you get this error -

[code]

[2016-09-14 01:40] ganmacs commented on #1231
This one.

`Fluent::Log`class uses `ServerEngine::DaemonLogger` class inside and `ServerEngine::DaemonLogger` extends Ruby's `Logger` class.
This is a design by ruby's `Logger` class( https://github.com/ruby/ruby/blob/7b2d47132ff8ee950b0f978ab772dee868d9f1b0/lib/logger.rb#L769 )

[2016-09-14 03:01] tagomoris commented on #1231
I meant that we should tell users that the default value of `--log-rotate-age=0` means "no log rotation" clearly.

[2016-09-14 03:03] tagomoris commented on #1115
New one on AppVeyor about `test_out_secondary_file`.
@ganmacs Can you fix this? https://ci.appveyor.com/project/fluent/fluentd/build/1511/job/th4xjjpuuwiplsf6
[code]

[2016-09-14 03:23] ganmacs commented on #1115
@tagomoris
OK, I'll check it.

[2016-09-14 03:27] ganmacs commented on #1231
I added a description about the case of `--log-rotate-age=0`.

[2016-09-14 04:07] tagomoris commented on #1229
How about with v0.14.4? It's a bug introduced at v0.14.5.

[2016-09-14 13:10] jchauncey commented on #1229
Ah k yeah moving back to 0.14.4 seems to have fixed the problem

[2016-09-15 02:05] tagomoris commented on #1229
Thank you for reporting it! I'll investigate that problem further more.

[2016-09-16 18:22] bdentino opened #1237 "Runtime dependency on json gem"
Fluentd version 0.14.4
Building custom docker image for fluentd from alpine:3.4

Running fluentd gives the following error:

[code]

The issue is resolved by running `gem install json`. Maybe fluentd just needs to list this as a runtime dependency? I'm new to ruby so this could also be me just misconfiguring something I don't know about.

Here's my full Dockerfile:

[code]

[2016-09-16 19:04] repeatedly commented on #1237
I'm not sure why this happens because ruby itself include json library as a default gems.
I assume this is not the fluentd issue but I can't judge it...

[2016-09-16 19:09] repeatedly commented on #1237
If you don't hit this problem with normal environment,
the problem is caused by alpine linux's ruby or something.

[2016-09-16 19:33] bdentino commented on #1237
Yep, I think you're right:

[code]

In that case, feel free to close this issue. It's probably worth mentioning though that the official fluentd [Dockerfile](https://hub.docker.com/r/fluent/fluentd/~/dockerfile/) is built off alpine so it might be worth including json in the gemspec just to avoid confusion when upgrading (unless you see some harm in doing so).

[2016-09-20 05:29] #1219 closed

[2016-09-20 07:57] #1226 closed

[2016-09-20 10:28] repeatedly commented on #1237
Okay. Could you send a patch to fluentd-docker-image to install json gem?

[2016-09-20 10:28] #1237 closed

[2016-09-21 00:55] gcs-github commented on #1229
if it helps, I've also encountered `can't modify string; temporarily locked` in one of my installations.

The only obvious differences between an in_tail config without this problem and an in_tail config with this problem for me are `read_from_head` being true and the format being `multiline` on the problematic config. There's also a different match & filter chain routing after the in_tail input.

[2016-09-21 01:27] repeatedly commented on #1229
@gcs-github Do you use fluentd v0.14.6?

[2016-09-21 08:29] gcs-github commented on #1229
yes

[2016-09-21 08:37] repeatedly commented on #1229
@gcs-github I want to know using v0.14.4 resolve your problem or not? Since v0.14.5, we migrate in_tail plugin with v0.14 API. If the problem is gone with v0.14.4, we need to check this migration change.

[2016-09-21 08:55] cjdmax commented on #1229
same error here with 0.14.6, moving back to 0.14.4 seems to have mitigated the problem.

[2016-09-21 09:05] repeatedly commented on #1229
This error doesn't happen on fluentd test. So I want more information to investigate the problem.

@cjdmax @gcs-github Could you give me a entire fluentd logs? I want to check the configuration and error patterns.

[2016-09-21 09:36] gcs-github commented on #1229
I shared the logs privately with you @repeatedly in the fluentd Slack, and I'm now testing with 0.14.4

[2016-09-21 11:00] gcs-github commented on #1229
The problem seems to be gone with 0.14.4 for me as well.

[2016-09-21 22:01] gcs-github commented on #1229
If it helps: I switched back to 0.14.6 and discovered I had mistakes in the configuration of some of my `<match> ` sections which apply to the data coming from my `in_tail` source. These mistakes were causing problems of their own, raising exceptions. I fixed the issues I had in my `<match>` sections and haven't encountered the original `can't modify string; temporarily locked` problem since.

I'l

[2016-09-23 00:19] repeatedly commented on #1230
I checked the behaviour and strict is not fit for fluentd.
I will write a patch.

[code]

[code]

[2016-09-23 01:33] repeatedly commented on #1230
@tagomoris Could you give me an example configuration for checking this issue?
This is hard to write unittests so I want actual configuration.

[2016-09-23 02:16] tagomoris commented on #1230
No configuration (for plugins) are needed.
Just write tests which formats hashes including Symbol as values (should be formatted into string), and also parses JSON strings including string values with preceeding ':' (parsed into String).

[2016-09-23 02:16] tagomoris commented on #1230
See http://www.ohler.com/dev/oj_misc/encoding_format.html

[2016-09-23 02:20] repeatedly commented on #1230
Sorry, I can't understand this sentence correctly.
The problem is oj supports only global options and it causes a conflicts between parser/formatter.
In `formatter_json` tests, all tests are passed because `formatter_json` uses `compat` mode.
Adding above test doesn't test this problem.

[2016-09-23 02:39] tagomoris commented on #1230
The root cause of this problem depends on the order of files loaded. It can't be tested, because test runner loads all files just once in a test execution.
But it can be tested to confirm Oj's `default_option` is always equal to one designed, and it can parse/format json objects as expected, regardless of order of loading files.

If you want to test it strictly, spawn another process and do:

1. r

[2016-09-23 04:18] tagomoris commented on #1225
Is it a problem of the container of `gcr.io/google_containers/fluentd-elasticsearch:1.6`?

[2016-09-23 05:13] cmachler commented on #1229
@repeatedly I had the same issue, I rolled back from 0.14.6 to 0.14.4. Let me know if you need any information from my environment.

[2016-09-23 20:34] mr-salty opened #1240 "record_transformer keep_keys option creates keys with 'nil' values for unset keys."
Check [CONTRIBUTING guideline](https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md) first and here is the list to help us investigate the problem.

I saw this on 0.12 but it looks like it still works the same way.

If you configure i.e.

[code]

Then the resulting record will always have 'a', 'b', and 'c' set, even if those keys were not present in the original record (in which case they

[2016-09-23 20:44] repeatedly commented on #1240
@sonots Could you check it?

[2016-09-26 05:42] #1231 closed

[2016-09-26 08:19] tagomoris commented on #1161
I found that the case below still has problem that doesn't call lifecycle methods correctly (e.g., `#start`, `#shutdown`).
It's caused from the combination of things below:

* `out_copy` in v0.14 delegates calling methods of plugins to RootAgent
*  RootAgent expects that all sub-plugins must be created in `#configure`
* fluent-plugin-forest generates instances of plugins dynamically, and calls lif

[2016-09-26 08:30] tagomoris commented on #1161
For the case of @bungoume, the solution is to use `copy` plugin first, and then use `forest` plugin in `<store>` sections.

[2016-09-26 14:29] #1230 closed

[2016-09-27 08:08] repeatedly commented on #1229
@cmachler We are now investigating this issue. The flow late is not related with this error, right?

We are now trying to reproduce this problem on our side and write a patch. Please wait...

[2016-09-27 08:42] Mvpanswer7 opened #1246 "[info]: fluent/event_router.rb:213:optimizable?: Filtering works with worse performance, because [Fluent::Plugin::RecordTransformerFilter] uses `#filter_stream` method."
When I call `router.emit(tag, record_time, record)` in my own plugin, fluentd gives back error ,
`2016-09-27 08:23:46 +0000 [info]: fluent/event_router.rb:213:optimizable?: Filtering works with worse performance, because [Fluent::Plugin::RecordTransformerFilter] uses `#filter_stream` method.`
`2016-09-27 08:23:46 +0000 [warn]: plugin/output.rb:612:rescue in write_guard: failed to write data into b

[2016-09-27 08:50] #1246 closed

[2016-09-27 08:50] repeatedly commented on #1246
This fixed by https://github.com/fluent/fluentd/pull/1227

[2016-09-27 08:51] repeatedly commented on #1246
This happens when your output's buffer reached buffer queue limit.
This is not related with title log message.

[2016-09-27 08:52] Mvpanswer7 commented on #1246
@repeatedly  OK,I will checkout , arigato!

[2016-09-27 10:00] paragradke opened #1247 "Not able to start td-agent on mac os x"
Check [CONTRIBUTING guideline](https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md) first and here is the list to help us investigate the problem.

- fluentd or td-agent version : td-agent-2.3.0-0
- Environment information, e.g. OS
ProductName:	Mac OS X
ProductVersion:	10.11.6
BuildVersion:	15G31
ruby 2.0.0p648 (2015-12-16 revision 53162) [universal.x86_64-darwin15]
- Your configuration

[2016-09-27 10:06] repeatedly commented on #1247
Thanks for the report.

But sorry, I don't have a time to investigate this issue. So if you want to test fluentd on upir Mac,
using rbenv and fluentd gem is better.

[2016-09-27 10:06] #1247 closed

[2016-09-27 10:06] repeatedly commented on #1247
And this is td-agent issue, not fluentd.
So closed.

[2016-09-27 15:06] cmachler commented on #1229
@repeatedly if you're referring to my slack message, no. I'm good with running 0.14.4.

[2016-09-27 16:42] Lowess opened #1248 "forward error error=#<NoMethodError: undefined method `[]' for nil:NilClass> in formatter.rb"
He guys,

We are trying to scale up our Fluentd infrastructure so that it can ingest about 400,000 events / sec. I am running a benchmark in AWS were we started:
### Fluentd Forwarders:
- 14 c3.xlarge with a dedicated 100Gb gp2 EBS disk used for the td-agent buffer.
- Each server runs 4 python scripts that send json logs using the fluent-logger client (fluent-logger==0.4.4)
- Logs emitted by the f

[2016-09-28 00:10] repeatedly commented on #1240
@sonots ping

[2016-09-28 00:26] repeatedly commented on #1248
It is similar to https://github.com/fluent/fluentd/issues/660
We can't detect the root cause of this problem.

There are several ways to mitigate the problem.

- Using latest kernel
- Increase tcp window size
- use `keep_forward` isntead of `forward` to decrease TCP connections

[2016-09-28 02:27] okkez commented on #1229
Reproduce sequence(on master HEAD):

fluent.conf:
[code]

append.rb:
[code]

Create large log files:
[code]

Run fluend:

[code]

Run append.rb on another terminal:

[code]

Check fluentd logs.

[2016-09-28 03:04] tagomoris commented on #1115
#1243, #1244, #1250

[2016-09-28 08:28] repeatedly commented on #1229
Thanks for reproducible step.
I will check the behaviour changes between v0.12 and v0.14.

[2016-09-28 09:14] #1222 closed

[2016-09-28 09:15] tagomoris commented on #1161
#1242 merged.

[2016-09-28 09:15] #1161 closed

[2016-09-28 09:15] #1115 closed

[2016-09-28 13:01] sonots commented on #1240
I will take care of this later, but PR is always welcome!

agree

The specification disallows to specify keys with white spaces, so I can not accept it.
We should be able to use a `array` parameter now, but it breaks compatibility, so let me keep as is.

[2016-09-29 00:58] okkez commented on #1115
#1251

[2016-09-29 01:00] okkez commented on #1115
[code]

[2016-09-30 00:08] repeatedly commented on #1240
`array` parameter now has simplifed syntax feature: http://www.fluentd.org/blog/fluentd-v0.12.27-has-been-released

[2016-10-04 07:08] KunalArora opened #1253 "Getting a `register_impl`: undefined method trace for Nil class"
`Environment`

Ruby   ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]
Fluentd  fluentd 0.12.29

Code
[code]

Error

[code]

[2016-10-04 13:25] shawnbutts opened #1258 "0.14.6 seems to deadlock on file buffers"
- fluentd 0.14.6 (ruby 2.3.0).
- Amazon Linux

All threads stop working.  During the restarts I see one of these for each thread.

2016-10-04 13:20:06 +0000 [warn]: plugin_helper/thread.rb:74:ensure in block in thread_create: thread doesn't exit correctly (killed or other reason) plugin=Fluent::S3Output title=:enqueue_thread thread=#<Thread:0x000000025dc9e0@/usr/local/share/ruby/gems/2.3/gems/flue

[2016-10-04 13:36] repeatedly commented on #1258
Could you paste a entire log and sigdump result?

[2016-10-04 13:40] shawnbutts commented on #1258
`2016-10-04 13:39:36 +0000 [debug]: fluent/supervisor.rb:536:block in install_main_process_signal_handlers: fluentd main process get SIGINT
2016-10-04 13:39:36 +0000 [info]: serverengine/server.rb:51:stop: Received graceful stop
2016-10-04 13:39:37 +0000 [debug]: fluent/supervisor.rb:547:block in install_main_process_signal_handlers: fluentd main process get SIGTERM
2016-10-04 13:39:37 +0000 [debu

[2016-10-04 16:37] repeatedly commented on #1258
Hmm... it seems this error happens inside signal context.
We will investigate which mutex/lock causes this message.

[2016-10-04 16:39] repeatedly commented on #1253
Does this happen on only test, right?

[2016-10-04 16:56] shawnbutts commented on #1258
I've seen this with file buffer for forward_in, elasticsearch, and s3 plugins.  Running with -v, everything runs fine for a while.  But, then there is no further log output or activity for 10 minutes or more (should flush at least once a minute). After another 5 minutes of nothing and hitting a ctrl-c, the above is the output.

[2016-10-04 18:43] shawnbutts commented on #1258
Here is a the end of a trace log https://gist.github.com/shawnbutts/5219e076472242aa17d643e468938f77

After the last line of the log, it just stops doing anything.

[2016-10-04 18:55] repeatedly commented on #1258
Thanks for the detailed log?

@tagomoris Could you handle this?

[2016-10-04 23:42] KunalArora commented on #1253
Yes, this error only shows up during test environment. Development environment is not getting affected by this.

[2016-10-04 23:46] repeatedly commented on #1253
Could you show me your test code?

[2016-10-04 23:59] KunalArora commented on #1253
[code]

[2016-10-05 00:02] repeatedly commented on #1253
test_helper.rb requires fluentd files?

[2016-10-05 00:05] KunalArora commented on #1253
test_helper file. Yss, it do include fluentd files
[code]

[2016-10-05 01:45] repeatedly commented on #1229
We found one possible reason to cause this issue.
Try to fix soon.

[2016-10-05 06:37] #1229 closed

[2016-10-05 08:14] tagomoris commented on #1258
I'm checking code, but couldn't find clear causes right now.
@shawnbutts Does the your problem occur every time? Could you paste your configuration?

[2016-10-05 08:19] shawnbutts commented on #1258
The more threads, the longer it takes.  But, yes, it happens every time.
I've update the gist.  The "startup.log" has the config, etc from the beginning of the log.

[2016-10-05 08:28] tagomoris commented on #1258
Thank you! I'm digging the situation further more.

[2016-10-05 10:48] tagomoris opened #1260 "Fluentd process never exits when blocking for full buffer queue"
I confirmed this problem on Fluentd v0.12.29, but I know that v0.14.x has this problem too.

When we enable `<buffer> overflow_action block </buffer>` or `buffer_queue_full_action block` and the buffer queue is actually full, input threads will block, and never returns if output plugins doesn't go back to normal.

If users will try to stop Fluentd process under this situation, Fluentd don't stop t

[2016-10-05 10:48] tagomoris commented on #1260
@repeatedly will you fix this problem in v0.12 versions?

[2016-10-05 12:29] tagomoris commented on #1258
I pushed a branch with fix for output thread handling in shutdown sequence.
https://github.com/fluent/fluentd/tree/wakeup-threads-in-shutdown-sequence-to-quit-sleep

I couldn't reproduce the exact same problem (deadlock detected) in my environment, but found some problematic log messages with fluent-plugin-s3 and Fluentd v0.14, and this branch has changes to solve it.

@shawnbutts Could you try th

[2016-10-05 23:02] repeatedly commented on #1253
I tested your example with reduced code but no error.
So maybe, full code is needed to debug it.

BTW, `fluent/plugin/afsco/out_afsco_supply.rb` is wrong. You should `fluent/plugin/out_afsco_supply.rb` to follow fluentd plugin mechanizm.

- plugin code

[code]

- test code

[code]

- test_helper.rb

[code]

- command

[code]

Use ruby directory but Rake should work.

[2016-10-05 23:03] repeatedly commented on #1260
@tagomoris Okay, I will check it.

[2016-10-06 00:06] rodaan opened #1262 "Duplicating Logs"
**td-agent version:**
td-agent --version
td-agent 0.12.26

**Environment information:**
Distributor ID:	CentOS
Description:	CentOS Linux release 7.2.1511 (Core)
Release:	7.2.1511

**Configuration:**

[code]

**Your problem explanation:**
I am running a test on td-agent and it looks like it is sending duplicate logs to my Elasticsearch database. Here is what the fakelogs.current looks like:

...
We

[2016-10-06 00:11] kzk commented on #1262
This option might be the cause. This will ask Fluentd to read logs from the head, every time you restart it.

Can you please remove this option and add "pos_file" parameter?

[2016-10-06 00:15] repeatedly commented on #1262
Removing `read_from_head true` is not required.
If pos_file contains correct offset/inode, read_from_head is ignored at second read.

[2016-10-06 00:42] rodaan commented on #1262
Oh okay! So do I just add in a path for the pos_file parameter? What do you mean by "pos_file contains correct offset/inode"?

[2016-10-06 00:46] repeatedly commented on #1262
It means pos_file is not broken. HDD crash or manual edit by other person may cause inconsistent state but it is very rare case.

[2016-10-06 00:46] kzk commented on #1262
@repeatedly that's right thanks for the correction.

pos_file is used to record the last position Fluentd read the logs. By specifying this parameter, Fluentd can resume reading the file from the last position it reads.

[2016-10-06 06:13] KunalArora commented on #1253
Thanks for the help. It solved my problem!!

[2016-10-06 06:20] #1253 closed

[2016-10-06 09:25] Yanson commented on #1129
Our environment is no longer available to test/reproduce the issue so I'm afraid I'll have to bow out of this thread.

[2016-10-06 10:24] #1262 closed

[2016-10-06 10:25] repeatedly commented on #1262
If you hit this problem with pos_file, please reopen.

[2016-10-06 18:14] shawnbutts commented on #1258
Sorry, I wasn't able to test this.  I've moved back to 0.12.x where this does not appear to be happening.

[2016-10-06 22:27] repeatedly commented on #1129
I see. Currenlty, this problem happened on only your environment, so temporarily closed.
If anyone hits this problem, reopen this issue!

[2016-10-06 22:27] #1129 closed

[2016-10-07 07:23] repeatedly commented on #1229
Released v0.14.7 including fix.
Could you test it again with v0.14.7?

[2016-10-07 21:40] kkniffin commented on #1258
I think I may be having a similar issue. I upgraded to the latest release recently and now fluentd no longer seems to function. I continually receive buffer errors and nothing is output to Elasticsearch.

Here is my config:

fluentd-nxlog_1   | 2016-10-07 21:34:33 +0000 [info]: fluent/supervisor.rb:656:read_config: reading config file path="/fluentd/etc/fluentd-nxlog.conf"
fluentd-nxlog_1   | 2016

[2016-10-08 03:11] tagomoris commented on #1258
@kkniffin it's just TRACE log to trace plugin's internal behavior, not to show any troubles or errors.

[2016-10-08 03:41] kkniffin commented on #1258
Yah, but it just constantly floods the screen and never actually sends any
information to elasticsearch. Rolling back the code produces none of those
trace errors and elasticsearch functionality works again.

Also I am not sure why it even is using that as I am not using buffering I
didn't think.

On Oct 7, 2016 11:11 PM, "tagomoris" <notifications@github.com> wrote:

[2016-10-09 16:33] tagomoris opened #1268 "Test driver's `#run` method doesn't return the return value of yield"
It's usually expected by ruby programmers.

[2016-10-10 08:00] jogendrajangid1 opened #1269 "td-agent error [Cannot output messages with tag] for loggly"
Hi All,

Getting below error on td-agent configured on creating store for loggly. required info as below

- ubuntu 14.04.
fluent-plugin-forest (0.3.3)
fluent-plugin-loggly (0.0.8)

2016-10-10 07:53:05 +0000 [error]: Cannot output messages with tag ''
2016-10-10 07:53:05 +0000 [error]: failed to configure/start sub output loggly: wrong number of arguments (2 for 0)
2016-10-10 07:53:05 +0000 [error]

[2016-10-10 08:03] #1269 closed

[2016-10-10 08:05] repeatedly commented on #1269
This seems your configuration / event structure or using plugin issue.
Don't use issue for such purpose and follow contribution guide: https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md
If this is the bug of fluentd, I will reopen this issue.

[2016-10-10 08:07] repeatedly commented on #1269
From error message, you send empty tag `Cannot output messages with tag ''`

[2016-10-10 08:58] jogendrajangid1 commented on #1269
Hi @repeatedly  thanks for quick response.  tag name is already there. I've removed name because it contains sensitive info.

[2016-10-10 12:41] jogendrajangid1 commented on #1269
We have found net-http-persistent 3.0.0 not compatible with fluent-plugin-forest. because of that td-agent not able to sent log to loggly using fluent-plugin-forest.

solution remove net-http-persistent(3.0.0)

`td-agent-gem uninstall net-http-persistent --force`

`td-agent-gem install net-http-persistent -v 2.9.4`

error
 [error]: /opt/td-agent/embedded/lib/ruby/gems/2.1.0/gems/net-http-persisten

[2016-10-10 14:50] elelement opened #1270 "in_syslog new line delimiter"
- **td-agent version**: td-agent 0.12.26
- **Environment information, e.g. OS**: Debian 8 for td-agent, Windows 7 for Python code.
- **Plugin**: in_syslog.rb
- **Configuration**:
[code]
- **Problem explanation**:

I'm using Python's SyslogHandler class from logging.handlers package to send syslog messages to a Fluentd **syslog** input (https://github.com/fluent/fluentd/blob/master/lib/fluent/plugi

[2016-10-10 17:03] joker1007 opened #1271 "Current Output plugin base class has a probrem that it needs `router` method if secondary uses router."
- fluentd (v0.14.7)
- All envs

Current `Fluent::Plugin::Output` has following statement in `configure` method.

[code]

In current version, If secondary output uses compat layer (compat layer always include `:event_emitter`) or secondary output uses `:event_emitter` helper, primary output always needs `:event_emitter`.
In short, If user wants to use secondary output, almost output plugin needs `:

[2016-10-11 04:52] repeatedly commented on #1270
Maybe right but fluentd's syslog parser doesn't support RFC5424 spec including structured format.
So this is why in_syslog can't parse your syslog message correctly.

I didn't test but one plugin exists for RFC5424. https://github.com/athenahealth/fluent-plugin-newsyslog

[2016-10-11 08:45] elelement commented on #1270
Thanks for the link. They are reusing the same line of code:

[code]

I've tested it and found the same behavior (tested with Python and PHP scripts; in both cases I had to add a \n at the end of the message). My conf file looks like this:

[code]

Besides, the same statement can be found in RFC3164:

What do you think? I really don't have any problem adding that but maybe this is something to fix

[2016-10-11 09:56] repeatedly commented on #1270
Yes. Syslog protocol itself doesn't define delimiter for their payload.
But typical syslog implementation treats the message as a text and it contains `\n`.
RFC5424 also doesn't define it so handling multiple messages in one TCP connection seems to depend on implementation.
Maybe, we need to check rsyslog or syslog-ng's implementation for better handling.

[2016-10-11 16:31] sanju090 opened #1272 "Running Fluentd in windows, failed to flush the buffer"
Hi Everyone,
     I am facing issue flushing buffer from fluentd to elasticsearch. I am new to Fluentd, can you please help?

ElasticSearch version -> elasticsearch-2.4.1
Fluentd Version -> 0.14.7
fluent-plugin-elasticseach -> 1.7.0
OS -> Windows 7
![flush_buffer_issue](https://cloud.githubusercontent.com/assets/22774141/19278689/39fb025e-8fac-11e6-8889-90ff15a46378.png)
![flush_buffer_issue](http

[2016-10-11 16:53] repeatedly commented on #1272
I'm not familiar with Windows but it seems not fluentd related issue.
Check your environment: http://stackoverflow.com/questions/2972600/no-connection-could-be-made-because-the-target-machine-actively-refused-it

[2016-10-11 18:28] sanju090 commented on #1272
Hi Masahiro,
    Thank you very much for your quick response. Please ignore that "No connection could be made.." part that message came when i tried to kill the process by hitting Ctrl + C.
    I am able to send log data from Java application to fluentd, i did stdout it was able to print the data. The issue occurs when sending those data to elasticsearch.

Here is my updated fluent.conf file
<sour

[2016-10-12 05:54] repeatedly commented on #1272
I see.
It seems a regression by https://github.com/fluent/fluentd/pull/1263 .
I will check it.

[2016-10-12 05:55] repeatedly commented on #1272
Could you test this configuration with v0.14.6?

[2016-10-12 09:13] repeatedly commented on #1272
I confirmed this `msgpack_each` related error on Mac.
I will fix this issue soon.

[2016-10-12 10:10] repeatedly commented on #1272
I found the cause and I'm now writing the patch.
We will release v0.14.8 soon.

[2016-10-12 10:27] elelement commented on #1270
I've read https://tools.ietf.org/html/rfc6587 and I think that I'm starting to understand it. Apparently, There are two methods to distinguish different messages while using TCP syslog:

**3.4.1.  Octet Counting**

It "prepends" the message length to the syslog frame:

[code]

   MSG-LEN is the octet count of the SYSLOG-MSG in the SYSLOG-FRAME.

**3.4.2.  Non-Transparent-Framing**

A trailer chara

[2016-10-12 12:52] sanju090 commented on #1272
Hi Masahiro, Thank you very much for looking into it and writing the patch. Can you please update this thread once v0.14.8 is ready. Thanks again

[2016-10-13 03:31] #1272 closed

[2016-10-13 03:49] repeatedly commented on #1272
Release v0.14.8

[2016-10-13 14:13] sanju090 commented on #1272
Thank you very much Masahiro for your quick responses and the fix  :+1:

[2016-10-14 15:29] cmachler commented on #1229
working well for me now. Thanks!

[2016-10-14 16:15] repeatedly commented on #1229
thanks for the test 👍

[2016-10-14 18:22] btucker commented on #672
I was consistently running into this same issue.  What has seemed to solved it for me was keeping the logs being tailed smaller in size.    Previously they were getting up into the 300+GB range.  After switching to hourly rotation (logs now grow only up to 20GB), td-agent now stops without issue.

[2016-10-15 13:29] joker1007 opened #1275 "v0.14.x cannot boot without json gem but no dependency"
- fluentd v0.14.x
- alpine linux 3.4

ruby package of alpine linux v3.4 doesn't have json gem.
I don't know other platforms but other ruby package without json gem exists maybe.

[code]

And, fluentd v0.14 requires 'json' gem on `fluent/config/literal_parser.rb`.
Because of it, fluentd v0.14 cannot boot on alpine linux unless user installs 'json' gem manually.

[code]

especially, official docker

[2016-10-15 13:39] #1275 closed

[2016-10-15 13:39] repeatedly commented on #1275
Duplicated https://github.com/fluent/fluentd/issues/1237

[2016-10-15 13:40] joker1007 commented on #1275
Sorry, I missed it.

[2016-10-15 15:34] njam opened #1276 "in_forward should generate "time" with sub-second precision"
I noticed that `in_forward` generates event times with only seconds-precision when debugging with `fluent-cat`.

How about generating times with higher precision in [in_forward.rb](https://github.com/fluent/fluentd/blob/master/lib/fluent/plugin/in_forward.rb)?
Currently the code looks like this:
[code]

[2016-10-15 15:58] repeatedly commented on #1276
in_forward is no problem.
The problem is fluent-cat sends second-precision time.
I will fix it.

[2016-10-15 17:29] njam commented on #1276
Aha, thanks!

[2016-10-17 03:23] llby opened #1278 "When I kill fluentd main process, read log file twice."
I use fluentd v12.26
fluentd's sending log file to the aws kinesis.
log files were described file size at pos_file.
But when I kill fluentd main process, and start td-agent service.
all log files were read again.

[code]

[2016-10-17 03:34] repeatedly commented on #1278
Is this reproducible?

[2016-10-17 03:38] llby commented on #1278
yes anytime.

[2016-10-17 03:40] llby commented on #1278
detail of situation.

[2016-10-17 03:41] repeatedly commented on #1278
I can't reproduce this on my local machine.
I assume you did some actions to cause this problem.

[2016-10-17 04:00] llby commented on #1278
The detail of situation.

There was some files in buffer.
file name is log..qxxxxxxxxx

[code]

first I tried restart service td-agent
but It was failed.

[code]

I tried kill process.
- fluentd sub process
- kinesis_produce
but kinesis_produce was not dead.

so I tried kill main process and start service td-agent.
In this case, it happens every time.

[2016-10-17 04:06] llby commented on #1278
Repletion

I tried move log files, Before kill main process at other mashine.
And After start service td-agent. I move back log files.

[code]

log files were followed againg, but it not read this time.

[2016-10-17 04:10] llby commented on #1278
It seem involved, a timing of read pos_file?

[2016-10-17 04:10] repeatedly commented on #1278
I want to know in_tail reads log files twice or
aws kinesis resends same buffer twice.
Could you check it?
Maybe, adding `out_copy` and `out_file` is enough.

<match log>
  @type copy
  <store>
     @type file # the number of records should be same as in_tail targets.
  </store>
  <store>
    @type kinesis_producer
  </store>
</match>

[2016-10-17 04:36] llby commented on #1278
in_tail reads log files twice
because
When I kill main process and start service td-agent.
generated buffer file in `/var/log/td-agent/buffer/`
file name is log..bxxxxxxxxx
buffer file makes by fluentd. isn't it?

[code]

I experimented
I tried move log files, Before kill main process at other mashine.
And After start service td-agent. I move back log files.
It not generated buffer file in `/var/l

[2016-10-17 05:02] repeatedly commented on #1278
Hmm... I can't debug this problem because I don't have reproducible environment.
Could you debug it?
I want to know why pos_file content is ignored.

[2016-10-17 05:23] orangemi opened #1279 "if record is string. How to deal with it?"
- fluentd v0.3.1
- docker.io/fluent/fluentd

I see the fluentd docs talking based on the `record` is a hash record. What if a record is a string record? Is there a way to convert it? #591 mentioned it but no description how to deal with it.

I tried to use transformer filter to convert like this but failed:
[code]

Output:
[code]

I tried `record.to_str` but the same error.

I also tried to use fi

[2016-10-17 05:28] repeatedly commented on #1279
No way. Fluentd can't handle string type record.
Senders, e.g. fluent-logger, and input plugins must emit a record as a Hash.

[2016-10-17 05:31] repeatedly commented on #1279
Does senders or plugins emit string type record?

[2016-10-17 05:31] orangemi commented on #1279
Thank you for your quick reply. I will make a new PR to [fluent/fluent-logger-node](https://github.com/fluent/fluent-logger-node).

[2016-10-17 05:31] #1279 closed

[2016-10-17 05:31] repeatedly commented on #1279
Ah, okay.

[2016-10-17 05:57] llby commented on #1278
I'll go there?
or you came?
or remote?
or teach me how to debug?

There is same condition servers here(aws).
but it already starting process.
so I think It can't modify the code.

[2016-10-17 09:20] llby commented on #1278
I find other warning.

[code]

[2016-10-17 11:41] rolele opened #1280 "If the fluentd aggregator is down then client fluentd does not start"
I am using the latest fluentd docker image.
I pretty much have the same infra as this without ssl

![](http://www.fluentd.org/assets/img/recipes/elasticsearch-s3-fluentd.png)

if the aggregator is down I can not start my fluentd clients
[code]

the fluentd clients
[code]
the problem happen with or without the copy plugin.
What I am expecting is that fluentd starts normally (even if it can not conn

[2016-10-17 11:52] repeatedly commented on #1280
`out_forward` retries buffer flush when the error happens during plugin running phase.
In your case, error happens during configuration phase, not plugin running phase.
This behaviour is for safety bacause Fluentd can't judge actual errors and hard to recover it.

We have one specific patch for out_forward, but no merged yet: https://github.com/fluent/fluentd/pull/735

[2016-10-17 16:12] #1276 closed

[2016-10-18 05:08] tagomoris commented on #1258
@kkniffin Trace log is for debugging and identifying problems. Filter them out on your environment not to send them to elasticsearch. It's not related with this issue.

[2016-10-18 05:09] tagomoris commented on #1258
I'm expecting that #1264 solves this problem, so let me close this.
Please reopen this or create another one for same/similar problems.

[2016-10-18 05:09] #1258 closed

[2016-10-18 05:12] #1280 closed

[2016-10-18 17:08] repeatedly commented on #1113
https://github.com/tagomoris/fluent-plugin-secure-forward/pull/49

Could you test this patch?

[2016-10-19 00:27] cbh34680 commented on #1113
td-agent を再インストールし、お知らせいただいたパッチを適用して
動作確認しました。

今まで数百万件程度の送信でプロセスが再起動する現象が発生していましたが
この障害は発生せず、数千万件の送信が何度か成功しています。

今後 同様の試験を 1 週間程度行う予定ですが、障害が発生したときは
改めて issue を登録させていただきます。

[2016-10-19 05:58] tsgan opened #1281 "fluentd is missing or not sending some log lines"
- fluentd: 0.12.14
- Environment information, e.g. OS: FreeBSD 10.1-RELEASE-p31
- ruby 2.2.5p319 (2016-04-26 revision 54774) [amd64-freebsd10]
- Configuration:

[code]
- Problem
  Fluentd seems miss some log lines and not sending them to graylog.
  Sample log in one host starts like:

[code]

And in another host:

[code]

So for instance some lines from above 2 logs aren't in graylog/elasticsearch

[2016-10-19 07:06] repeatedly commented on #1281
How to detect it?

[2016-10-19 07:08] repeatedly commented on #1281
BTW, What does "INFO  - 2016-10-17 23:27:56 --> {"sample_alias":"{my.sample_alias}","sample_bidRate":"{my.sample_bidRate}","sample_campaignid":"{my.sample_campaignid}","sample_aaid":"{aaid}","sample_bappid":"{my.sample_bappid}"}" line?
Actual log line or log record in graylog? Several points are unclear for me...

[2016-10-19 07:48] tsgan commented on #1281
It is actual log line.

[2016-10-19 07:59] repeatedly commented on #1281
No warning / error log?

Could you try following configuraiton for detect the problem?

[code]

[2016-10-19 08:08] tsgan commented on #1281
Let me try your config and monitor it for a while. I will let you know.

[2016-10-19 09:02] tagomoris opened #1285 "Make alternative of StringUtil.match_regexp"
`Fluent::Plugin::StringUtil.match_regexp` (implementation was moved to `Fluent::Compat::StringUtil` now) has some implementation problem:

* it provides encode-safety about regular expression matching, but method name doesn't show it
* it uses `$log`, but should use plugin logger
* scrubbing strings is very universal process: not only for regular expression matching

My idea is to add a method lik

[2016-10-19 09:03] tagomoris commented on #1285
`match_regexp` is used in:
* `lib/fluent/plugin/parser.rb`
* `lib/fluent/plugin/filter_grep.rb`

[2016-10-19 09:10] #1268 closed

[2016-10-19 09:25] nurse commented on #1285
You can write just like following. Note that String#valid_encoding? uses a cache in VALUE if the string has already checked the validity.

[code]

[2016-10-19 09:26] tagomoris commented on #1285
There's a same issue about FileUtil.
* `FileUtil.writable?` does different check from `File.writable?`... we should use another method name

[2016-10-20 02:53] tsgan commented on #1281
I don't see whole bunch of log lines are missing in /var/log/fluent/logs* files. I used following config:
[code]
But in graylog I miss 1 line (top 1 after empty line is important, but really it misses top 3 lines).
[code]

[2016-10-20 03:10] repeatedly commented on #1281
Hmm... It seems the problem is graylog side because fluentd sends events as a chunk.
Chunk contains lots of lines, so missing only 1 or 3 lines should not happens.

[2016-10-20 03:19] tsgan commented on #1281
But why the logs* files miss more lines than graylog?

[2016-10-20 03:26] repeatedly commented on #1281
You set `time_slice_format %Y%m%d`.
Do you wait one day?

[2016-10-20 03:39] tsgan commented on #1281
How often logs are written to file via fluentd?
I mean, does it take one day to be written to log and should I wait 1 more day?

[2016-10-20 03:41] repeatedly commented on #1281
Completed log file needs one day but buffered events are always written.
http://docs.fluentd.org/articles/out_file#path-required
You should see "b" or "q" file in `/var/log/fluent/`.

[2016-10-20 03:53] tsgan commented on #1281
There are no such files:

total 8891
-rw-r--r--  1 fluentd  fluentd  8388405 Oct 19 13:02 logs.20161019_0.log
-rw-r--r--  1 fluentd  fluentd  8388359 Oct 19 16:08 logs.20161019_1.log
-rw-r--r--  1 fluentd  fluentd  8388441 Oct 19 19:05 logs.20161019_2.log
-rw-r--r--  1 fluentd  fluentd  8388373 Oct 19 21:57 logs.20161019_3.log
-rw-r--r--  1 fluentd  fluentd  5050914 Oct 20 00:10 logs.20161019_4.lo

[2016-10-20 03:54] repeatedly commented on #1281
This one > "b" or "q" + random string suffix file

[2016-10-20 03:55] repeatedly commented on #1281
And it seems flushed file.

[2016-10-20 03:55] tsgan commented on #1281
Understood, but I don't see log lines in logs dated 20161019* files.

[2016-10-20 03:56] tsgan commented on #1281
Please test using logs in following format:
[code]

[2016-10-20 04:22] #1271 closed

[2016-10-20 08:43] repeatedly commented on #1281
I tested your log with bit modified configuartion and it worked.

- configuration

[code]

- out_file result

[code]

[2016-10-20 09:07] repeatedly commented on #1281
BTW, how about set `read_from_head true` in `in_tail` configuration?

[2016-10-21 03:39] repeatedly commented on #1270
Added to docs.fluentd.org.

[2016-10-21 03:39] #1270 closed

[2016-10-21 06:12] tsgan commented on #1281
Ok, I will test it and let you know

[2016-10-21 11:41] tagomoris opened #1287 "CI build is failing"
After merging migration of `out_file` to v0.14 APIs, CI build is failing.
https://travis-ci.org/fluent/fluentd/jobs/169494127

[2016-10-22 10:35] scrwr opened #1288 "Maintenance Plugins"
I'm a bit worried about the maintenance of the Plugin repos, as fluents power is coming from this, but it seems like even pull request don't get touched anymore since a long time.

Example:
https://github.com/fluent/fluent-plugin-flume/pulls

Are these plugins going to be deprecated?

[2016-10-24 03:58] tagomoris commented on #1288
It's the problem of that plugin, not fluentd itself. Flume plugin now needs active maintainer...
Generally speaking, you should "ping" on threads when repository owners don't respond to issues or pull requests.

[2016-10-24 03:58] #1288 closed

[2016-10-24 04:38] #1287 closed

[2016-10-24 15:45] elelement opened #1291 "in_http is replacing '+' symbol in JSON fields"
td-agent version: td-agent 0.12.26
Environment information, e.g. OS: Debian 8 for td-agent, Windows 7 for Python code.
Plugin: in_http.rb
Problem explanation:

I have observed a possible bug in in_http plugin. I have a HTTP source redirecting logs to a Graylog server and to stdout. Graylog was rejecting my messages because the datetime format was incorrect. I realized that the '+' symbol of the ti

[2016-10-24 20:25] repeatedly commented on #1291
How about using "multipart/form-data" instead of `application/x-www-form-urlencoded`?

[2016-10-25 02:53] cbh34680 opened #1292 "fluentd main process died unexpectedly. restarting. (3)"
- version. td-agent-2.3.3-0.el6.x86_64 (fluentd-0.12.29, fluent-plugin-secure-forward 0.4.3)
- OS. CentOS release 6.8 (Final)
- problem

#1113 にてご提供いただいたパッチを適用し、連続稼働試験を行っていたところ
fluentd のプロセスが再起動する現象が発生しました。

以前と異なる点は、再起動時に記録された `process finished code` の値が 6 ではなく `134` でした。
以下に各種情報を転記致します。
#### /var/log/td-agent/td-agent.log

2016-10-25 11:28:10 に再起動

[code]

この再起動時に記録された標準エラー出力の内容は次の通りです。
#### /da

[2016-10-25 02:55] cbh34680 commented on #1113
本件のパッチ適用後の試験にてプロセスが再起動する現象が発生しました。
詳細は #1292 にて報告させていただきました。

[2016-10-25 03:09] tagomoris opened #1293 "Buffered input plugins"
Input plugins may emit events one-by-one (for example, `in_exec`), but it degrades total performance of Fluentd event routing.
If we can support buffer plugins in input plugins, it can improve performance with users' configurations for such cases.

It may be implemented as:
* an extended API (method) for existing input plugin class (if plugin implements it, input plugin can work with buffer)
* a p

[2016-10-25 08:38] elelement commented on #1291
If I use `multipart/form-data`, I get a

Please, take a look at tcpdump trace:
[code]

Another example using a PHP script:

[code]

Same result using `text/plain`, but `application/x-www-form-urlencoded` works fine except for the '+' replacement.

[2016-10-25 20:43] repeatedly commented on #1291
I tested your `datetime` value but it seems no problem.

[code]

- client code : Ruby

[code]

I assume you use don't encode json parameter correctly.

[2016-10-25 20:53] repeatedly commented on #1291
In GET case,

[code]

This code is OK,

[code]

but this is NG

[2016-10-26 02:17] tatsu-yam commented on #1113
After patch, this problem happend again.
[code]

[2016-10-26 08:04] elelement commented on #1291
:(  I should have realized it, sorry. Just for the record, it didn't worked for me directly encoding the whole record, but just the string in the ```json{%s}``` form.

This works:

[code]

But this doesn't:
[code]
Maybe it is useless or already known to mention the content type in the docs, but it would be nice in case someone asks itself how the request should look like.

Thank you so much for yo

[2016-10-27 05:17] tsgan commented on #1281
It is working, thanks,

[2016-10-27 05:20] repeatedly commented on #1281
I missed your configuration.
I thought `path /share/sites/sample/log/log.php`...
in_tail documents describes this point.

http://docs.fluentd.org/articles/in_tail#readfromhead

[2016-10-27 05:24] tsgan commented on #1281
One question, does "read_from_head true" always reads from top even new log line is added?

[2016-10-27 05:27] repeatedly commented on #1281
No. If pos_file has its record, read from latest position.

[2016-10-27 05:29] tsgan commented on #1281
Ok, so I used "read_from_head true" and it is working.

[2016-10-31 21:57] repeatedly opened #1300 "master breaks compat TimeSlicedOutput"
- fluentd version

master branch

- problem

Following error happens

[code]

In v0.14.8, `@_timezone` is `+0000`.
In master, `@_timezone` is `nil`. This is why this error happens.

- configuration

You can reproduce this problem by following configuration:

[code]

[2016-11-01 00:21] repeatedly opened #1301 "log unexpected warnings if format parameter is used in filter"
- fluentd version.

v0.14.

- You rconfiguration

[code]

- Your problem explanation. If you have an error logs, write it together.

With this config, we always get following warning:

[code]

Input plugin's format is handled correctly, but filter's format is parsed as parser / formatter and warning messages are logged.
This filter works, so these logs should not be logged.

[2016-11-01 00:23] repeatedly commented on #1301
In filter, judging parser/formatter is hard?

[2016-11-01 04:46] tagomoris commented on #1301
It's impossible.

[2016-11-02 06:05] #1291 closed

[2016-11-02 12:29] #1281 closed

[2016-11-02 12:34] repeatedly commented on #1240
@sonots ping?

[2016-11-02 12:36] sonots commented on #1240
`array` parameter looks sweet. PR is always welcome!

[2016-11-07 03:21] tagomoris commented on #1300
@repeatedly I can't find any clear cause for that. Can you provide any test case for that?

[2016-11-07 03:25] repeatedly commented on #1300
@tagomoris This problem doesn't happen on your environment?

[2016-11-07 11:25] acty-yoshida commented on #1300
I'm facing same issue.
When I set "timezone" option explicitly, it can be avoid this.
"utc" keyworkd is not work. It should specify "timezone".

[code]

* Additional information

TimeSlicedOutput.configure is something wrong?
After calling super, @timezone will be initialized to nil.
I think Configurable module is initializing "timezone" to default value.
https://github.com/fluent/fluentd/blob/mas

[2016-11-09 06:48] #1300 closed

[2016-11-10 18:31] #1189 closed

[2016-11-10 20:05] jyotiruhil opened #1309 "file keep on filling up in buffer path and failed to flush the buffer."
Hi, I am facing few problem with td agent. All the files from last few months are piling up in buffer path. and now it is failed to flush the buffer. I try to increase the buffer limit and queue limit but not sure why file are still stored in buffer path.

- Chef td agent version 2.2.0.
- ubuntu 14.04.
- My current match config for collector is

<match component.*>
  @type copy
  <store>
    @type

[2016-11-10 23:35] repeatedly commented on #1309
See https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md#got-a-question-or-problem
I'm not sure the cause of this problem is fluentd bug. So closed.
Mailing list is better.

[2016-11-10 23:35] #1309 closed

[2016-11-11 10:18] suzukaze opened #1310 "'Quick Start' doesn't work."
# Environment
OS: macOS Sierra version 10.12.1
ruby version: ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-darwin15]
fluentd version: fluentd-0.14.8

# How to reproduction
I executed the process of 'Quick Start' in README.md.

$ gem install fluentd
$ fluentd -s conf

`fluentd -s conf` generates conf/fluent.conf.
fluent.conf is:
[code]

# Error

Error logs are:
[code]

# Solution Plan

Quick Sta

[2016-11-15 09:19] tagomoris commented on #1310
I identified the root cause of this problem: `out_forward` has a bug to crash when it's used as secondary plugin.
I pushed a fix for this problem #1313.
@suzukaze Thank you for reporting!

[2016-11-15 09:54] #1310 closed

[2016-11-15 22:36] dtboctor opened #1315 "undefined method 'key'?"
I'm having some issues with fluent 0.14.6, it was running okay for a while but a few days ago started giving me the following error on startup

[code]

This is on a centos OS.  I've found references for that issue in older versions, not sure why I am getting it.  Is there anything I can send you guys that might explain what is happening?

[2016-11-15 23:58] dtboctor commented on #1315
Here is the backtrace
[code]

[2016-11-16 00:03] repeatedly commented on #1315
You said v0.14.6 but your backtrace says you use v0.14.8.
It means you hit this error on both v0.14.6 and v014.8, right?

[2016-11-16 00:04] dtboctor commented on #1315
Yeah, I recently updated to try and fix the error, but no luck.

[2016-11-16 00:09] repeatedly commented on #1315
Could you paste entire log?

[2016-11-16 00:11] dtboctor commented on #1315
[code]

[2016-11-16 03:28] repeatedly commented on #1315
Thanks!

This line is weird. metadata is created with nil values. I will check it why this happens.

[2016-11-16 06:43] repeatedly commented on #1315
2016-11-15_23:57:37.99929 /opt/rbenv/versions/2.1.9/lib/ruby/gems/2.1.0/gems/fluentd-0.14.8/lib/fluent/compat/output.rb:129:in `write'

This error happens immediately after restart.
Do previous buffer files exist?

[2016-11-16 08:23] #1301 closed

[2016-11-16 08:24] repeatedly commented on #1301
v0.14.9 has built-in parser filter and it fixes this problem.

[2016-11-16 10:44] t-osakada opened #1316 "out_forward: failed forward v0.14 to v0.12 after upgrade to v0.14.9"
I'm testing a system that forward logs from fluentd v0.14 to v0.12.
Successed until 0.14.8, but upgraded to 0.14.9 did not work.

Is this a change in specifications?

## Environment

* CentOS 7.2.1511
* ruby 2.3.1p112

[code]

## Log

### [SUCCESS] v0.14.8 to v0.12.29

#### v0.14.8 out_forward log:
[code]

#### v0.12.29 in_forward log:
[code]

### [FAIL] v0.14.9 to v0.12.29

#### v0.14.9 out_forwa

[2016-11-16 10:53] tagomoris commented on #1316
@t-osakada Specify `time_as_integer true` in your configuration of `out_forward` in v0.14.
See "Sub-second time": http://www.fluentd.org/blog/fluentd-v0.14.0-has-been-released

[2016-11-16 10:55] tagomoris commented on #1316
This should be included in the release note of `v0.14.9`. @repeatedly ?

[2016-11-16 11:22] t-osakada commented on #1316
That solved it. Thanks!

[2016-11-16 11:24] tagomoris commented on #1316
That's very nice to hear. Thank you to remind us to note it on release notes!

[2016-11-16 17:54] dtboctor commented on #1315
There's a large number of buffers when I restart, basically it is blocking the upload of all the buffers so we a ton of buffers stuck there.

[2016-11-16 18:50] dtboctor commented on #1315
The odd thing is that everything was generated with version 14.6, we don't have any buffers left over from a previous or older version.

[2016-11-16 19:17] repeatedly commented on #1316
I have posted v0.14.9 release note.

[2016-11-16 19:17] #1316 closed

[2016-11-16 21:50] dtboctor commented on #1315
Is there a way to tell from the error which buffer file is causing the issue?

[2016-11-17 03:51] repeatedly commented on #1315
This is chunk id and you can search which chunk has this problem.

BTW, do you update fluent-plugin-kafka together with fluentd?

[2016-11-17 03:55] repeatedly commented on #1315
I can reproduce this problem:

1. use older fluent-plugin-kafka which don't use tag for chunk key
2. update fluent-plugin-kafka to latest verison. latest version uses tag for chunk key
3. restart fluentd with old buffers.

In this case, same error happens.

[2016-11-17 06:45] tagomoris commented on #1315
Is it a bug (or documentation issue) of fluent-plugin-kafka, right?

[2016-11-17 06:47] tagomoris commented on #1292
Please use #1113 instead of opening new issue if it's not solved yet.

[2016-11-17 06:47] #1292 closed

[2016-11-17 06:49] tagomoris commented on #1113
Exit code 134 means SIGABRT, and it's used by openssl to crash it by itself.
Hmm.

[2016-11-17 06:54] tagomoris commented on #1248
Is it better to drop invalid records (non-hash objects, including nil) ?

[2016-11-17 06:58] tagomoris commented on #1225
Let me close this issue. Please reopen this if any problem still exists.

[2016-11-17 06:58] #1225 closed

[2016-11-17 07:02] tagomoris commented on #1072
Fluentd core can't accept this proposal, I think. It breaks compatibility of behavior, against users' expectation. IMO, fluent-plugin-multiprocess should implement it.
Let me close this issue. Please reopen if you think this should be implemented in Fluentd core (probably after v1 release).

[2016-11-17 07:02] #1072 closed

[2016-11-17 07:03] tagomoris commented on #1055
@repeatedly are there any progress?

[2016-11-17 07:06] tagomoris commented on #1020
This problem looks already be solved.

[2016-11-17 07:06] #1020 closed

[2016-11-17 07:10] tagomoris commented on #801
This issue looks be solved by using at-least-once delivery with Fluency. Let me close.

[2016-11-17 07:10] #801 closed

[2016-11-17 07:13] tagomoris commented on #703
@repeatedly What's the current status of this issue?

[2016-11-17 07:32] tagomoris commented on #523
No responses and updates. So let me close now. Please reopen if the problem still exists.

[2016-11-17 07:32] #523 closed

[2016-11-17 10:02] repeatedly commented on #1315
We can't judge it because if dtboctor uses recent fluent-plugin-kafka version before,
the cause seems the bug of buffer / output.

[2016-11-17 10:06] repeatedly commented on #703
v0.14 now ignores this exception so fluentd v0.14 doesn't have this problem.
So we can close this issue on this repository.

[2016-11-17 10:06] #703 closed

[2016-11-17 10:57] repeatedly commented on #1055
I confirmed the behaviour but I can't find the cause why SIGSTOP/SIGCONT changes IO order.
I need deep knowledage about signal and IO scheduling to debug it.
But it need long time so I'm pending it...

[2016-11-17 18:46] dtboctor commented on #1315
When I encountered this problem I was using 0.14.6 of fluentd and fluentd-plugin-kafka version 0.3.1.   This was working together correctly for a while and is currently what is running on most of our servers without an issue.   This problem began while running with that setup?   I tried upgrading to 0.14.8 of fluentd and 0.4.0 of the fluent plugin together and this problem was still occurring.

I

[2016-11-17 18:53] repeatedly commented on #1315
I'm not sure. It depends on your buffer content.
if net buffer also doesn't have a key metadata, same error happens.

[2016-11-17 18:56] dtboctor commented on #1315
Okay, I'm going to look into whether or not there was an issue where the plugins were not quite aligned with each other in terms of version.  Is there a way to look at the buffer file and parse it to see what format or version it is using?

[2016-11-18 17:31] piosz commented on #1126
cc @Crassirostris

[2016-11-18 20:00] Crassirostris opened #1318 "Trimming long lines"
Currently, in K8S we sometimes experience problems with too long lines: https://github.com/kubernetes/kubernetes/issues/37010

One of the possible solutions would be to trim the lines to be under, say, 100KB. But I wasn't able to find any information regarding this problem. Is it possible in fluentd right now?

It would be also really great to achieve this using only build-in plugins.

We're curre

[2016-11-18 21:37] dtboctor commented on #1315
I tried backing down to version 0.1.3 of the plugin, which I knew we were using at one time...I get
[code]

[2016-11-18 21:47] dtboctor commented on #1315
Is there anything additional I can send over that would help in understanding what happened here?

[2016-11-19 19:53] repeatedly commented on #1315
You can check your buffer file status with following script:

- unpack_buffer.rb

[code]

 - Old buffer structure (kafka plugin v0.1.3 can flush this buffer)

meta keys is empty and one evnet consists of 3 elements.

[code]

- New buffer structure (latest kafka plugin can flush this buffer)

meta keys has `key` field and one event consists of 2 element.

[code]

Latest kafka plugin can't flush old

[2016-11-19 20:09] repeatedly commented on #1318
Because you are first person for such requirement.
In addition, fluentd hard to judge which point is safe to prevent garbage line.

if one field is larger than 100KB, `record_transformer` filter can achieve it like below:

[code]

But this is not efficient. If you can write your own parser, it is better for reducing additional text processing and memory allocation.

[2016-11-20 17:01] dtboctor commented on #1315
One other question,  we had a very large event code through our system that broke a lot of other parts,  is there any case where a large message could break fluentd?   Like if it were very large in relation to the chunk size for the buffer?

[2016-11-20 22:55] repeatedly commented on #1315
What does "break" mean? fluentd can handle any size of record.
For example, one user sends 1+MB record to fluentd.

[2016-11-21 09:20] Crassirostris commented on #1318
@repeatedly OK, thanks!

Closing the issue, you completely answered my question :)

[2016-11-21 09:20] #1318 closed

[2016-11-21 20:12] dtboctor commented on #1315
I tried to run the code you posted, I have an interesting problem
{code}
[/var/log/evente/fluentd] == PRODUCTION lumoslabs@[lumosity-app-production-us-east-1b-i-eb73bc6d.aws.lumoslabs.com] ==
Mon Nov 21 12:11:02 [13:0]$ ls buffer_problem/
buffer.b54135448d0359bdcbd2bad60a78b2525.log.meta  buffer.q54135448d0359bdcbd2bad60a78b2525.log

[/var/log/evente/fluentd] == PRODUCTION lumoslabs@[lumosity-app-

[2016-11-21 21:55] dtboctor commented on #1315
I renamed my file to make the script work:
[code]

[2016-11-21 22:11] dtboctor commented on #1315
seems like most of our events are all buffer.q*, but a few are buffer.b*, and a good number of the meta files are...., why would that happen?

[2016-11-22 03:37] repeatedly commented on #1315
That's weird...
"b" and "q" should be updated at the same time.
Hmm... v0.14 buffer may have a race condition between buffer pop and queueing.
We will check.

[2016-11-22 03:48] dtboctor commented on #1315
Yes

[2016-11-22 03:49] dtboctor commented on #1315
And it seems that I have other mismatches in there,  definitely more than one

[2016-11-22 06:31] dtboctor commented on #1315
So we had some errors before this occurred related to Kafka rejecting our messages due to the size, we eventually corrected that but could there be a case where an error causes it to be half set?  Not sure, but this seems to have happened a lot on this machine, though we have many other machines running this exact setup that have had no issues like this whatsoever.

[2016-11-23 05:51] dtboctor commented on #1315
Is there anything I can do to help diagnose what happened?  Also, would just renaming these files all to q fix the issue in the interim?

[2016-11-24 06:33] tagomoris commented on #1315
I identified that "undefined method 'key'" for nil occurs in `#write` when compat plugins are configured to use Zulu time format (to be formatted with "Z" timezone) via investigation of #1319.
It'll be fixed at that pull-request.
Chunk state mismatch is another problem now...

[2016-11-25 03:51] tagomoris opened #1324 "in_tail uses regexp to split lines"
https://github.com/fluent/fluentd/blob/master/lib/fluent/plugin/in_tail.rb#L573

It's much slower than using `index` and `slice!`.
Here's a micro bench code and its result:
https://gist.github.com/tagomoris/d9cf1e961378ab553b65fbaa844ba6df

[2016-11-26 22:36] fenicks opened #1329 "When declaring only `utc` in configuration file, Fluentd raise "both of utc and localtime are specified""
Fluentd is complaining that I declare both `localtime` and `utc` but only `utc` is declared in my configuration file.

- fluentd version 0.14.9.
- GNU/Linux CentOS-7

#### Configuration
[code]
#### Error output
[code]

[2016-11-27 00:50] fenicks opened #1330 "With <secondary> and the `path` parameter, fluentd refuse to start"
When using <secondary> and `path` parameter, fluentd refuse to start and complain with:

- fluentd v0.14.9.
- GNU/Linux CentOS-7.

#### Configuration file
[code]

#### Error output:
[code]

[2016-11-27 01:21] repeatedly commented on #1329
Fixed by https://github.com/fluent/fluentd/pull/1319

[2016-11-27 01:21] #1329 closed

[2016-11-28 02:02] #1324 closed

[2016-11-28 15:40] fevlake opened #1334 "in_udp buffer size issue"
td-agent version is:

root@kibanaes:~# dpkg -l | grep td-age
ii  td-agent                            2.3.2-0                             amd64        Treasure Agent: A data collector for Treasure Data

Ubuntu 14.04.

I have some issues with in_udp plugin.

We got a service which sends json messages over udp. And sometimes it sends about 500 000 messages in 10 secs. And just 5 000 of messages are d

[2016-11-28 15:48] repeatedly commented on #1334
How to check this?

[2016-11-28 16:40] fevlake commented on #1334
@repeatedly I thought about increasing SO_RCVBUF in socket options.. But seems that this value is taken from net.core.rmem_default by default.
But it also didn't help.

[2016-11-28 17:03] fevlake commented on #1334
@repeatedly i've checked linux udp stack using iperf:

[code]

No RcvbufErrors were seen. Average incoming rate was about 40 000 udp packet per sec.

Seems that fluentd can't handle such traf. Maybe i can debug it somehow?

Also i was checking fluentd using moniroring plugin and it didn't show me buffer_queue_len on elasticsearch output. So i think the problem is between kernel and fluent's socket

[2016-11-28 18:46] fevlake commented on #1334
@repeatedly ok, i've fixed that issue. Sorry for your time.
Seems that fluent doesn't have input buffer or smth like that. So if fluent can't accept new event - kernel drops it.

I've splitted configuration for udp input into 3 configs with different ports. And installed multiprocess plugin to run multiple instances. So configuration looks like this.

td-agent.conf:

[code]

td-agent-udp-1.conf:

[2016-11-28 19:13] dtboctor commented on #1315
Zulu time format?  Any idea why this would be the case or a way for me to see if I match that descriptions?  Not sure why we would be using that?

[2016-11-29 16:50] DanKans opened #1335 "Fluent::Plugin::MonitorAgentInput and RewriteTagFilterOutput"
Hi,
I'm using fluentd 0.14 and during querying endpoint for monitor I got these warnings from fluentd agent:

[code]

P.S
How it is possible that buffer_queue_length > buffer_queue_limit? is it calculated according to buffer_queue_limit and buffer_chunk_limit?

[code]
Thanks

[2016-11-29 16:54] DanKans opened #1336 "Fluentd 0.14 -> out_forward: old configuration for buffer is not accepted."
Hi,

I'm trying to use flush_interval option in configuration of fluentd 0.14 and I got warning during start that these parameter is not used.

[code]

So I used <buffer tag> section and it works:
[code]

According to conversation on fluentd slack channel, this might be related to bug in out_forward pluging related to accepting old configuration.

Thanks,
Daniel

[2016-11-30 04:01] tagomoris commented on #1336
Thank you to report it! I pushed a pull-request to fix this issue. #1337.

[2016-11-30 04:24] tagomoris commented on #1330
@fenicks Could you paste your whole log? It should have a dump of configuration, and it should include buffering configuration which I need.

[2016-11-30 05:18] tagomoris commented on #1330
I pushed a pull-request to fix this issue. #1338.

[2016-11-30 20:34] gjobin opened #1340 "134"
Check [CONTRIBUTING guideline](https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md) first and here is the list to help us investigate the problem.

- fluentd or td-agent version.
- Environment information, e.g. OS.
- Your configuration
- Your problem explanation. If you have an error logs, write it together.

[2016-11-30 20:34] #1340 closed

[2016-11-30 20:58] gjobin opened #1341 "fluentd crashing unexpectedly"
- fluentd version
0.12.28 or 0.12.29

- Environment information, e.g. OS.
Debian GNU/Linux 8 (jessie)
  in
Docker 1.10.3
  in
CoreOS 1122.3.0

- Your configuration
[code]

- Your problem explanation. If you have an error logs, write it together.
Recently, under some load, getting this error. We are looking on what may have changed in our things, but did not figure it out yet.

[code]
... then abou

[2016-11-30 23:28] Ponyboy47 opened #1342 "undefined method msgpack_each"
I am testing the latest fluentd version (0.14.9) when I ran into the issue. Running on CentOS 7, ruby 2.3

The company I work for is using an output plugin that worked perfectly on 0.14.8, so I'm not sure why this issue is happening in 0.14.9.

When the plugin tries to flush the output I get this error:

[code]

the plugin's `format(tag, time, record)`:
[code]

In the `write(chunk)`:
[code]

I saw

[2016-12-01 08:37] mia-0032 opened #1343 "Fluentd v0.14.9: json parser plugin occurs undefined method `info' error"
Hi,

I'm testing to use Fluentd v0.14.9 without `oj` gem. But json parser plugin occurs undefined method `info' error.

- fluentd or td-agent version.

Fluentd v0.14.9 and master branch version(without oj gem)

- Environment information, e.g. OS.

OSX and Linux(TravisCI)

- Your configuration

I encounterd this error on TravisCI https://travis-ci.org/mia-0032/fluent-plugin-gcloud-pubsub-custom/job

[2016-12-01 15:48] repeatedly commented on #1341
I don't have an experience with ruby on Debian but
ruby's version seems bit old.
Could you update your ruby version to 2.1.10 or 2.3.1?

[2016-12-01 15:48] repeatedly commented on #1343
In v0.12, log should not use in parser plugin.
I will fix it soon.

[2016-12-01 15:59] #1336 closed

[2016-12-01 18:42] gjobin commented on #1341
I will do my best to update it in the docker image. Will report my findings.

[2016-12-01 19:10] repeatedly commented on #1343
BTW, you can avoid this problem by specifying "json_parser json".

[2016-12-01 19:29] repeatedly commented on #1342
What the output plugin do you use?

[2016-12-01 20:03] repeatedly commented on #1334
Thanks for the investigation.

I will link this issue from in_udp document.

[2016-12-02 02:30] taka0125 opened #1345 "expire_dns_cache not work"
- fluentd or td-agent version.

td-agent 0.14.9

- Environment information, e.g. OS.

Amazon Linux (4.4.30-32.54.amzn1.x86_64)

- Your configuration

[code]

- Your problem explanation. If you have an error logs, write it together.

td-agent not launch. log is

[code]

[2016-12-02 07:12] #1343 closed

[2016-12-02 16:34] Ponyboy47 commented on #1342
[This is the plugin](https://github.com/perfectsearch/fluent-plugin-out-http-buffered). It was originally written for 0.10. It worked on 0.14.8 though, and I recently found [the article about upgrading plugins for the 0.14 API](http://docs.fluentd.org/v0.14/articles/plugin-update-from-v12) and was making sure it will be compatible with v1.0 when it gets released. I haven't pushed my changes yet, b

[2016-12-02 16:51] mia-0032 commented on #1343
Thank you for your response!

[2016-12-02 19:33] fenicks commented on #1330
OK, I tried the github code, it works.

[2016-12-02 19:33] #1330 closed

[2016-12-02 23:11] Ponyboy47 commented on #1342
So I think I figured it out. I needed to override #formatted_to_msgpack_binary to return true. After doing that it works properly

[2016-12-02 23:11] #1342 closed

[2016-12-04 06:15] usergoodvery opened #1347 "td-agent fails to install"
hi

I attempted to install using curl -L https://toolbelt.treasuredata.com/sh/install-ubuntu-xenial-td-agent2.sh | sh
on ubuntu Xenial  I get the follwoing error:
Setting up td-agent (2.3.3-0) ...
Conffile /etc/td-agent/td-agent.conf has been modified. Remain untouched.
Job for td-agent.service failed because the control process exited with error code. See "systemctl status td-agent.service" and "

[2016-12-05 07:40] #1345 closed

[2016-12-05 07:46] #1347 closed

[2016-12-05 07:47] repeatedly commented on #1347
This is fluentd repository, not td-agent.
Please re-open on omnibus-td-agent repository.

[2016-12-05 16:45] gjobin commented on #1341
@repeatedly Seems that Ruby an Debian is way beyond. I could not find any reliable binary to bump the version.

I reverted to use the default fluentd docker image `fluent/fluentd:v0.12.29-onbuild` on which I added my configurations. It works well now, except that is a bit slower then the previous image I was using (Which does not make sense to me since Alpine < Debian)

I think the error was relat

[2016-12-05 20:51] yissachar commented on #461
@repeatedly Is there anything special that needs to be done to make this work? I can't find any docs covering this.

I'm using v0.14.8 and have the following config:

[code]

But I don't end up with millisecond precision - I still only get resolution up to the second. As you can see from my config, I'm using the AWS Elasicsearch plugin, but I don't see why that would make a difference.

[2016-12-06 02:54] tagomoris commented on #1330
@fenicks Thank you to confirm it!

[2016-12-06 02:58] cosmo0920 commented on #461
@yissachar `aws-elasticsearch-service` plugin uses v0.12 API. Using v0.14 API plugin can handle nanosecond precision, but using v0.12 API plugin cannot handle it.
Could you report and request to use v0.14 API at https://github.com/atomita/fluent-plugin-aws-elasticsearch-service repository?

[2016-12-06 03:01] #1341 closed

[2016-12-06 04:48] tagomoris commented on #1335
@DanKans Could you paste the configuration file and the version of Fluentd you are using?

Fluentd v0.14 controls buffer queue with its bytesize, not length. So your buffer contains smaller chunks than buffer chunk limit (1MB, chunk_limit_size in v0.14 style), your buffer queue can contain more chunks than 1024.

[2016-12-06 10:49] sonots opened #1352 "In_tail gets stuck to shutdown if given files are empty"
With google cloud logging agent (google-fluentd) https://cloud.google.com/logging/docs/agent/, I encountered a situation that google-fluentd takes about 30 seconds to shutdown. The version of fluentd which google-fluentd embeds is fluentd v0.12.23, but it seems this will happen with the latest of the v0.12 branch, too.

Investigating it, I found that https://github.com/GoogleCloudPlatform/fluentd-

[2016-12-06 10:51] sonots commented on #1352
By doing puts debugging, I found that in_tail gets stuck at https://github.com/fluent/fluentd/blob/v0.12.23/lib/fluent/plugin/in_tail.rb#L115.

It seems only refresh_watcher is attached to `@loop` when given paths are empty. https://github.com/fluent/fluentd/blob/v0.12.23/lib/fluent/plugin/in_tail.rb#L105-L106.
Since refresh_interval of google-fluentd was 60 second as default, the loop finishes in

[2016-12-07 05:40] okkez opened #1353 "extract_placeholders cannot extract ${hostname} properly"
- fluentd v0.14.9
- Debian GNU/Linux

config:
[code]

https://github.com/okkez/fluent-plugin-geoip/blob/migrate-to-v0.14-api/lib/fluent/plugin/out_geoip.rb

I'm trying to migrate fluent-plugin-geoip's out_geoip to Fluentd v0.14 API.
I want to extract placeholders `${hostname}` using hostname field added by inject plugin helper.

Expected behavior:

tag will include hostname added by inject plugin

[2016-12-07 06:59] liujiawinds opened #1354 "multiline parser regex format"
[code]

I have a log file and its content like above.I'm trying to parse the log file with `multiline parser`.

referred to the document:
[code]

I wrote a regex like this, but it didn't work as I expected. The message field just contains a single ` - `, not the messages except the first line.
[code]

- td-agent: 0.12.29
- OS: centOS7

[2016-12-07 07:01] #1354 closed

[2016-12-07 07:03] liujiawinds commented on #1354
@repeatedly Why close this issue??

[2016-12-07 07:03] repeatedly commented on #1354
See https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md#got-a-question-or-problem
Don't use issue for the question first.

[2016-12-07 09:34] liujiawinds opened #1355 "multiline parser use case result can't appear."
![image](https://cloud.githubusercontent.com/assets/1757754/20962350/e9fe7af4-bca3-11e6-8f99-43b3d380b7ba.png)

According to the [document](http://docs.fluentd.org/articles/in_tail), the stack trace didn't in the result as expected.

[code]

versions:
fluentd:0.12.19
OS: centOS7

[2016-12-08 01:49] tagomoris commented on #1355
Please update your description with the version of Fluentd you're using, and the full configuration you're trying with.

[2016-12-08 03:28] liujiawinds commented on #1355
@tagomoris  Hi, I'm trying to parse the logs on the `td-agent-ui`. So, I do not have a real configuration about this.

[2016-12-08 03:34] liujiawinds commented on #1355
I've found this is a bug of `td-agent-ui`. when I tried configuration below, it works.

[code]

![image](https://cloud.githubusercontent.com/assets/1757754/20996672/18755f74-bd3a-11e6-868c-5f8c24baa155.png)

As you see, this configuration can parse the stack trace log.

[2016-12-08 03:46] #1355 closed

[2016-12-08 03:47] repeatedly commented on #1355
Close because this is the problem of fluentd-ui.

@uu59 Could you check this?

[2016-12-08 04:22] uu59 commented on #1355
Did you mean "result" is the colored text or something else?

[2016-12-08 08:43] liujiawinds commented on #1355
@uu59 The second line in the result, it didn't contain the stack trace like the document.

[2016-12-08 08:45] uu59 commented on #1355
I see. It seems fluentd-ui bug. Could you file it on the fluentd-ui repository?

[2016-12-08 11:01] breadmj opened #1358 "Cannot use the null byte (\0) as delimiter in tcp input plugin."
- fluentd or td-agent version.
fluentd v0.12.29

- Environment information, e.g. OS.
macOS sierra + docker (dockerized fluentd using alpine linux)
But I figure this issue does not matter with environment.

- Your configuration
[code]

The important part in my configuration is **delimiter**. I just wanted to use the null byte ("\0" in ruby) as my delimter of tcp input.
- Your problem explanation. I

[2016-12-08 17:33] yissachar commented on #461
@cosmo0920 Thanks for the tip. I've opened https://github.com/uken/fluent-plugin-elasticsearch/issues/222

[2016-12-08 22:27] suchisubhra opened #1360 "keep_time_key' in <source> is not used."
Check [CONTRIBUTING guideline](https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md) first and here is the list to help us investigate the problem.

- fluentd 0.14.8
- Environment information cents
- Your configuration

[code]

- Your problem explanation. If you have an error logs, write it together.

[code]

and in elasticsearch i  am not getting time field...

[2016-12-08 22:46] repeatedly commented on #1360
You need to specify `time_key`.

[2016-12-08 22:46] #1360 closed

[2016-12-08 22:49] repeatedly commented on #1360
If you hit same problem with v0.14.9 and with `time_key`,
reopen this issue.

[2016-12-09 00:06] suchisubhra commented on #1360
added time_key time
<source>
    type tail
    path "/var/log/containers/*.log"
    pos_file "fluentd-container.pos"
    time_format %Y-%m-%dT%H:%M:%S.%NZ
    tag "kubernetes.*"
    format json
    time_key time
    keep_time_key true
    read_from_head false
    <parse>
      @type json
      time_key time
      time_format %Y-%m-%dT%H:%M:%S.%NZ
    </parse>
  </source>

still  same issue
2016-12

[2016-12-09 00:12] repeatedly commented on #1360
Do you use v0.14.9?

[2016-12-09 00:25] suchisubhra commented on #1360
I am using .14.8

On Thu, Dec 8, 2016 at 4:12 PM Masahiro Nakagawa <notifications@github.com>
wrote:

[2016-12-09 00:27] repeatedly commented on #1360
Check my comment... https://github.com/fluent/fluentd/issues/1360#issuecomment-265878755

[2016-12-09 03:49] suchisubhra commented on #1360
It worked.. thank you

Suchi
On Thu, Dec 8, 2016 at 4:27 PM Masahiro Nakagawa <notifications@github.com>
wrote:

[2016-12-10 06:45] #1353 closed

[2016-12-12 05:01] josh-tepper opened #1363 "Running with --dry-run causes segfault with my config"
Check [CONTRIBUTING guideline](https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md) first and here is the list to help us investigate the problem.

- fluentd 0.14.8
- Running inside docker in a container which is built on top of this image (which is, itself, based on centos): https://github.com/fabric8io/docker-fluentd/blob/master/Dockerfile
My child image contains additional dependencie

[2016-12-12 06:40] repeatedly commented on #1363
From your logs, you use ruby 2.3.0-p0.
Could you update your ruby version to 2.3.3?

[2016-12-12 07:00] shuji-koike opened #1364 "NoMethodError when using in_monitor_agent with a unbuffered plugin"
When using `in_monitor_agent` with ~`out_null` plugin~ a unbuffered plugin (which `@buffer` is `nil`), NoMethodError will occur each time `http://0.0.0.0:24220/api/plugins` is accessed.

Minimal config to reproduce the problem.

[code]

start fluentd and, kick monitor_agent.

[code]

NoMethodError occurs.

[code]

[2016-12-12 07:00] shuji-koike commented on #1364
https://github.com/fluent/fluentd/pull/1193/files#diff-0ad62dd2012fecaa6ed2232f8918c528R351

Seems like This fix around `catch(:skip)` need some more work to do, right?

[2016-12-12 19:15] josh-tepper commented on #1363
Same issue with 2.3.3:
[out.txt](https://github.com/fluent/fluentd/files/646926/out.txt)

[2016-12-12 19:34] josh-tepper commented on #1363
Will have to get back to you shortly.  As I mentioned, I'm running from a centos image, and it seems that the latest ruby in the centos repos and software collection is 2.3.0.  Might have to build ruby

[2016-12-13 14:09] cvuillemez opened #1368 "fluent-plugin-json-transform doesn't work with fluent-plugin-udp"
Hi,
I'm running td-agent v2.3.3 on Ubuntu 14.04.4 LTS.
I want to parse JSON logs from UDP input, I need to flatten JSON keys.
So I use in_udp plugin and json_tranform plugin .

Here is my configuration at startup (voluntarily minimalist) :

[code]

It seems that associating the 2 plugins perform nothing... I encounter no errors, I'm receiving logs, but nothing is printed.
The command line `/opt/td

[2016-12-13 14:28] cvuillemez commented on #1368
hmm... maybe a problem with my custom scripts...  very specific to my env.
I close the issue.

[2016-12-13 14:28] #1368 closed

[2016-12-14 09:59] tagomoris commented on #1358
It's just missed, and looks good to add.
@repeatedly how do you think about this?

[2016-12-14 10:03] tagomoris commented on #1335
This issue looks duplicated one of #1365.

[2016-12-14 10:03] #1335 closed

[2016-12-14 10:18] tagomoris commented on #1315
Sorry for late reply, and, I'm sorry too that I misunderstood the problem in this issue. #1319 is another thing, and not related with this issue.

[2016-12-14 11:05] repeatedly commented on #1358
It seems good.

[2016-12-14 11:12] 3tinkers opened #1372 "service td-agent start fails at read conf file"
My system is CentOS 7. When I run "service td-agent start", it fails.The log stop at
"2016-12-14 18:39:51 +0800 [info]: reading config file path="/etc/td-agent/td-agent.conf"".
Is it for the reason that my conf file too large? My conf file is in the attach.

[td-agent.conf.zip](https://github.com/fluent/fluentd/files/651503/td-agent.conf.zip)

[2016-12-14 11:13] angry-cellophane opened #1373 "td-agent replaces the + character with the space character in output"
Environment:
- td-agent version:
  td-agent-2.3.3-0.el7.x86_64
- OS:
[code]
- My configuration
[code]

- Issue's description:
   When I submit json containing the +  character I see the + replaced with the space character in the log and s3 files.
   Steps to reproduce:
   1. curl -X POST -d 'json={"text":"alex+"}' http://localhost:8888/alex.test
   2. Check /var/log/td-agent/custom/alex.test.log.

[2016-12-14 11:23] repeatedly commented on #1372
No. Your configuration contains following lines and it is broken.

[code]

[2016-12-14 11:23] #1372 closed

[2016-12-14 11:24] repeatedly commented on #1372
It seems not a bug so closed.
If you have a problem with proper configuration, reopen the issue.

[2016-12-14 11:26] repeatedly commented on #1373
Duplication of https://github.com/fluent/fluentd/issues/1291
See avobe issue.

[2016-12-14 11:26] #1373 closed

[2016-12-14 14:16] angry-cellophane commented on #1373
@repeatedly thank you.
This works fine for me:
[code]

[2016-12-14 20:22] ged15 commented on #1248
Hello,

I am having the same problem after fluentd gets a lot of traffic. Memory usage of the process climbs up and stays up until I restart the process so I assume the messages are kept in memory.

[2016-12-14 20:43] repeatedly commented on #1248
It means your traffic is higher than output throughput?
or do you also hit this problem?

[2016-12-16 04:30] repeatedly opened #1376 "Plugin Generator"
For easy plugin development, generating plugin template is useful for users.

## Command

[code]

Based on Embulk: http://www.embulk.org/docs/customization.html#id1

## Generated files

[code]

Generated plugin file is based on `type` parameter. If `type` is input, file is `in_xxx.rb`
If same file exist, command prefer existing file.

[2016-12-16 04:37] tagomoris commented on #1376
I have an idea to add a command to:
* load plugin .rb file
* get the list of configuration parameters (and its type, options and descriptions)
* get the list of plugin helper loaded
* generate a well-formatted Markdown section (for copy-and-paste to README) to describe configuration parameters and links to the page of available plugin helper features (i know it doesn't exist yet)

It's better to a

[2016-12-16 08:44] M22an opened #1377 "Fluentd : error on forwerder thread error="Broken pipe""
- **td-agent version** : 0.12.29
- **OS** :
Description:    Red Hat Enterprise Linux Server release 7.3 (Maipo)
Release:        7.3
Codename:       Maipo

- **Configuration**
[code]

Fluentd seems to be breaking when a large number of requests are sent in a short period of time (i.e., 500 requests per sec). Here is the error log,

Can someone help me out on this issue, is there any other setting t

[2016-12-16 12:00] shuji-koike commented on #1364
Turns out that, not only `out_null` but some plugins witch `@buffer` is `nil` will cause the problem.

[2016-12-16 12:26] shuji-koike opened #1379 "@num_errors is not zero cleared after a successful retry."
I'm trying to monitor `retry_count` with `monitor_agent` plugin, and was working as expected in `0.12.x`.
However in `0.14.x` retry_count acts different. It just seems to count up and not geting zero cleared after a successful flush.

`retry_count` is actually the value of `@num_errors` in output plugins.
https://github.com/fluent/fluentd/blob/be7ffb2/lib/fluent/plugin/in_monitor_agent.rb#L259

In

[2016-12-18 14:39] Mr5hanMan opened #1381 "No such file or directory @ rb_sysopen - fluent.conf (Errno::ENOENT)"
Hi,

I've installed fluentd via the [gem installation](http://docs.fluentd.org/articles/install-by-gem), `gem install fleuntd`, on Ubuntu 16.04.
ruby -v  ruby 2.3.1p112 (2016-04-26)

I was following the documentation I'm trying to setup my config via the dry run command:
 `fluentd --dry-run -c fluent.conf`

But I am seeing the following output error when it runs:

[code]

I am wondering if I have

[2016-12-18 18:33] #1381 closed

[2016-12-18 18:40] repeatedly commented on #1381
We show CONTRIBUTING guideline.
Follow it: https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md#got-a-question-or-problem

BTW...

Error message shows the cause. You don't have a fluent.conf in working directory.

[2016-12-19 03:26] repeatedly commented on #1334
Add note for this case: https://github.com/fluent/fluentd-docs/commit/1f41acf6c46e4d8be4661e3f69cf1e212cd580ff
Closed.

[2016-12-19 03:26] #1334 closed

[2016-12-19 03:28] repeatedly commented on #1377
Broken pipe happens with several reasons.
Hmm... there is no error in output plugin side or system logs?

BTW, `detach_process` will be deprecated in the future,
so avoiding it is better.
num_threads doesn't fit your case?

[2016-12-19 04:22] tagomoris commented on #1379
I fixed `@num_errors` as the total count of output errors, as the same with `@emit_count`(the total count of `emit` called, even in v0.12). But I missed that `@num_errors` is referred by `monitor_agent`.
There's a method to show the count of retries (in failing): `@retry.steps` in v0.14. Should we refer this value in `in_monitor_agent`?

[2016-12-20 12:27] tboothman opened #1383 "in_tail pos file stops updating after log rotate"
Sometimes (every few weeks) during a log rotation of the file it's tailing fluentd will stop updating its .pos file. Even a day later when the log file rotates again it does not update the pos file.
Even though the pos file is not being updated the file is being consumed and the output is being produced.
The contents of the pos file are a few lines into the new log file and the inode number of the

[2016-12-20 12:33] repeatedly commented on #1383
Could you show me your logrotate config?

[2016-12-20 12:36] tboothman commented on #1383
[code]

[2016-12-21 23:45] donato opened #1384 "Help debugging a td-agent problem"
Hey all,

 fluentd: 0.12.29
 fluent-plugin-s3: 0.7.1
 td: 0.10.29
 OS: Ubuntu 14.04.5 LTS

The problem is that td-agent stopped outputting its logs. When this happened it began growing in size, over 3 days it was never able to flush them out. We tried to manually force it to, by sending it SIGUSR1 signals to both the child and parent process, but this did not work. Ultimately we had to kill the pr

[2016-12-22 01:40] tagomoris commented on #1384
I want to make the problem clear:
* "When this happened it began growing in size": what does the "size" mean? buffer chunk or disk usage? memory size? or any other?
* Are there any errors in logs when this problem happen?

[2016-12-22 02:12] repeatedly commented on #1384
We want to know all error logs.

This error doesn't include error cause. I assume your logs have more error messages / stacktraces.

[2016-12-22 05:32] donato commented on #1384
@tagomoris -
 *  I was referring to resident memory. The service runs in an autoscaling group and td-agent typically takes up ~300MB of memory on other nodes, however this one was taking 2.7 GB.
 * Other errors, I don't think so. Other services on the same node are working properly.  ```strace``` showed it in a loop of just sleeping/polling.
 * I have not tinkered with the configuration at all, fo

[2016-12-22 05:35] repeatedly commented on #1384
Hmm... could you upload your `/var/log/td-agent/td-agent.log`?

[2016-12-22 05:50] liujiawinds commented on #1383
@repeatedly I have the same problem, in_tail doesn't tail log file upon log rotation.

versions:
[code]

My in_tail configuration in  td-agent.conf
[code]

log files

[code]

pos file

[code]

Is there anything helpful to get new log file be tailed?

[2016-12-22 05:52] donato commented on #1384
Is it okay if I trim out debug lines like this? Will save a lot on file size
[code]

[2016-12-22 05:58] donato commented on #1384
I noticed that I had missed a line in my copy/paste of the error, I fixed it above by adding this line to the top:
[code]

The full log file is included, but I removed IP address information by running ```grep -v "pattern not match"``` on it first.
[td-agent.sanitized.txt](https://github.com/fluent/fluentd/files/668106/td-agent.sanitized.txt)

[2016-12-22 10:03] tagomoris commented on #1384
I missed that you're configuring `buffer_type memory`.

Of course, it uses memory, upto `750MB * 12` (8GB) if output throughput is not enough.
I suppose that output flush throughput is slower than your data collection traffic.
Try to configure bigger `num_threads`.

(and it's not any bug or fluentd.)

[2016-12-22 10:09] repeatedly commented on #1383
In addition, I want the result of sigdump: http://docs.fluentd.org/articles/trouble-shooting#dump-fluentd-internal-information

[2016-12-22 10:57] tagomoris opened #1385 "Some command line options does not work"
Some configuration parameters exist both in command line options and system config.
For example, `--suppress-repeated-stacktrace`, `--suppress-config-dump` (and now i'm adding `--workers`).

`Engine` and other codes (in worker process) refers `system_config` object to handle these configuration values.
But `Supervisor` doesn't merge its configuration values (in instance variables) into system conf

[2016-12-22 15:48] donato commented on #1384
@tagomoris - Thanks for the tip. I dug into it. Charts below are in EDT.

<img width="535" alt="screen shot 2016-12-22 at 10 32 09 am" src="https://cloud.githubusercontent.com/assets/939778/21430659/0f7e50ee-c832-11e6-8eca-2bf4d132e08b.png">
<img width="539" alt="screen shot 2016-12-22 at 10 32 38 am" src="https://cloud.githubusercontent.com/assets/939778/21430657/0d16677e-c832-11e6-8e06-a3582ca7b

[2016-12-22 22:40] initcron-abhijit commented on #672
I am also experiencing  the same bug while running  td-agent using supervisord on Amazon LInux. The process is getting SIGINT on boot only. Restarting the process after boot and the problem vanishes.

[code]

Any work around /Solution for this ?

[2016-12-23 01:10] cosmok opened #1388 "at-least-once acknowledgements are not processed"
My setup is like this:

forwarder -> aggregator
td-agent 0.14.10 on both

When I set require_ack_response to true in my forwarder,

I can see acks being logged on the aggregator:

2016-12-23 11:20:06 +1100 [trace]: [Fluent::Plugin::ForwardInput] sent response to fluent socket address="10.18.68.219" response={"ack"=>"VESFkVa4eEpn+/hwFcOpLw==\n"}

But the forwarder still thinks ACKs have not been re

[2016-12-23 02:56] liujiawinds commented on #1383
[code]
I adjusted the arguments `buffer_queue_limit` to 512, And I'm obeserving it now.

--------------------

Full configuration:

[code]

[2016-12-23 07:07] nieldomingo commented on #1388
looks like i'm getting this same behaviour

[2016-12-23 07:11] repeatedly commented on #1388
Thanks for the report.
We will check it later.
Does this problem happen with older v0.14?

[2016-12-23 07:18] repeatedly commented on #1383
Ah, I see. I assume you have no warnings / errors but pos_file update is stopped.
BTW, BufferQueueLimitError means your output destination lacks the resource or your network environment is unstable.
Please check your environment status.

[2016-12-23 07:39] nieldomingo commented on #1388
reverted to 0.14.9, it seems to be ok.

[2016-12-23 12:01] tagomoris commented on #1388
I identified the bug that cause this problem, and am now fixing it.

[2016-12-23 15:41] Shrugs commented on #902
While perhaps not exactly what you want,

[code]

will ignore all deis-logger logs

[2016-12-23 16:24] tagomoris commented on #1388
@cosmok @nieldomingo can you check whether the branch `fix-bug-forward-ack-reponse` solve your problem or not?

[2016-12-25 16:43] CSharpRU commented on #1379
Hello, right now you are able to check real retry count for each plugin by installing fluentd from master branch. See #1387

[2016-12-26 03:58] #1388 closed

[2016-12-26 06:24] tagomoris commented on #1388
`v0.14.11` has been released with the fix for this problem. Please try it.

[2016-12-26 16:39] wpengcheng opened #1391 "td-agent log file can`t set"
Where to set the log file path for td-agent，default is /var/log/td-agent/td-agent.log,I Want change default path

[2016-12-26 16:39] #1391 closed

[2016-12-26 16:40] repeatedly commented on #1391
Don't open an td-agent question on fluentd issue.
See https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md

[2016-12-27 07:08] tagomoris opened #1392 "`<worker>` section to enable a set of configuration in a specified worker"
Symmetric multi worker processing #1386 doesn't permit to execute any plugins and configurations in just one process.
But there are requirements and feature requests for such use cases. For example, executing plugins for monitoring (should be unique in a server).

This is an idea to keep symmetric semantics for multi process workers, but to realize such workloads.
* add `<worker N>` section in con

[2016-12-27 07:11] tagomoris commented on #1392
Points to be considered:
* configuration dump is now done in `worker_id=0` under a premise that "all workers are working with just same configuration" - this feature should update logging.

[2016-12-28 14:12] donato commented on #1384
@tagomoris - can we reopen this ticket, my above post explains how running out of memory was a symptom not a cause.

[2016-12-28 15:06] repeatedly commented on #1384
I want to know the chronology of problem.
Do you find why output throughput is dropped?
Network issue, some operations affect fluentd or 1 thread can't handle your traffic?
OoM is the result of low output throughput, right?

[2016-12-28 20:04] donato commented on #1384
[code]

I don't know why the output dropped, although I have been able to identify another node which is showing the same exact results! This time I've kept it alive to poke around a bit. Is there any way to poke around the s3 plugin to determine why it's not outputting?

[2016-12-30 20:56] vineethloka opened #1394 "Issue with Fluentd(EFK) Configuration in EFK"
Problem

Fluentd is Inserting unicode content into elasticsearch even though log4j2 configuration is sending utc-8

Steps to replicate

log4j2 config

< Socket name="socketMiddlewareSandbox" protocol="udp" port="5170" host="10.0.109.46">< SerializedLayout/>
< PatternLayout pattern="%d{ISO8601} %p: %m%n" charset="UTC-8"/>
</ Socket>

fluentd configuration(td-agent.conf)

type udp tag nginx.access p

[2017-01-03 14:44] donato commented on #1384
@repeatedly @tagomoris - can we reopen this ticket until a resolution is found?

[2017-01-03 16:46] tboothman commented on #1383
Steps to replicate:

config:
[code]

run this a few times in quick succession (sometimes it works with two after each other, sometimes it takes 10-15, it's some sort of timing issue)
[code]

Here are the sigdumps of the parent and child process
[code]

[code]

[2017-01-03 23:01] repeatedly commented on #1384
@donato Yes.

I checked your sigdump result but does this contain actual child process result?
There is no S3 output and other plugins thread logs.

[2017-01-03 23:03] #1394 closed

[2017-01-03 23:03] repeatedly commented on #1394
This seems not fluentd core problem and questions.
Use mailing list first.

[2017-01-03 23:05] repeatedly commented on #1394
And for repreducing problem, please minimize your client code.
Hard to debug with only log4j configuration.

[2017-01-04 05:06] tagomoris opened #1395 "Update in_tail to use storage plugins instead of pos_file"
`in_tail` is using a file to record the positions of files, to restart reading from there after Fluentd process restarts.
But pos_file is formatted in custom binary, and hard to read/edit. And it requires any fixed path to be configured.

Storage plugins (especially storage_local) can store any data on paths configured via `root_dir`. It's very easy to manage, and make configuration files smaller,

[2017-01-04 05:07] tagomoris commented on #879
#1395

[2017-01-04 05:22] tagomoris commented on #1038
#485 relates with this.

[2017-01-04 06:32] tagomoris commented on #1260
#1396 fixes this problem for v0.14 or later.

[2017-01-04 06:39] tagomoris opened #1397 "Rolling restart workers"
Of course, It should be implemented after #1386.

[2017-01-04 08:10] tagomoris commented on #1385
#1398 fixes this problem in v0.14.

[2017-01-04 17:57] donato commented on #1384
@repeatedly - I followed the directions [here](http://docs.fluentd.org/articles/trouble-shooting#dump-fluentd-internal-information) . Is there an alternative way to proceed?

I've started thinking this could be an issue with logrotate compressing files, so I'm going to tinker with the "delaycompress" option. Have you seen this as a problem before?

[2017-01-04 22:50] nitzanav opened #1400 "Using fluentd as tracking server - is it bullet proof? will I loose lines of logs?"
Hi Guys,

I want to use a fluentd as a tracking server, nginx will redirect after immediately, but will append URLs to log files, make requests just before the redirection (using access multiple logs formatting).

Then fluentd will act a a messaging queue to read the logs which will actually be formatted as URLs list. seems to me that [fluent-plugin-out-http](https://github.com/ento/fluent-plugin-

[2017-01-06 01:23] reversi-fun opened #1403 "`bundle exec rake test` requires git command in Windows-systems PATH"
- fluentd  version:fluentd-0.14.11-x86-mingw32
- Environment information:Windows 7 x64
- configuration:
  ruby 2.2.5 and gems required by fluentd.
- problem explanation;
when run  "fluentd\test\test_supervisor.rb" , then 2 errors caused.

cd  fluentd\test
ruby test_supervisor.rb

Error: test_load_config_for_daemonize(SupervisorTest): Errno::ENOENT: No such file or directory @ rb_sysopen - test/tmp

[2017-01-06 02:11] repeatedly commented on #1403
This doesn't happen when `bundle exec rake test`, right?

[2017-01-06 03:15] reversi-fun commented on #1403
yes.
when "bundle exec rake test" then it cause other error.
May be Gemfile is Incorrect on Windows.

gem list
...
oj (2.18.0)

[!] There was an error parsing `Gemfile`:
[!] There was an error while loading `fluentd.gemspec`: No such file or director
y - git ls-files. Bundler cannot continue.

 #  from I:/kibana/fluentd/fluentd.gemspec:13
 #  -------------------------------------------
 #    gem.a

[2017-01-06 03:22] repeatedly commented on #1403
I'm not sure how to setup your fluentd but tests passed on AppVeyor's windows: https://ci.appveyor.com/project/fluent/fluentd/build/2065
So if `bundle exec rake test` failed, your environment is something wrong.
I will check why single file test fails later.

[2017-01-06 03:23] repeatedly commented on #1403
This is low priority because the problem is test code, not fluentd itself.

[2017-01-06 03:28] reversi-fun commented on #1403
I see "low priority ".
Best reguards.

[2017-01-06 04:59] reversi-fun commented on #1403
I corrected the environment and made `bundle exec rake test ` successful.
but　The problem of   "fluentd\test\test_supervisor.rb"  has been reproduced .

--What has changed
--- Previous environment
I added git to the environment variable path after entering the DOS prompt.
then "`git ls-files`.split($\)" outputs ”No such file or directory".

--- current environment
I added git to the environment va

[2017-01-06 06:00] tagomoris commented on #1403
Is it a bug should be fixed?
This requirement is very common one in ruby projects, so I want to add this requirement for developers.

[2017-01-06 07:06] reversi-fun commented on #1403
My original issue is about "fluentd\test\test_supervisor.rb" .
Errno::ENOENT: No such file or directory @ rb_sysopen - test/tmp/supervisor/log
..rubystack-2.2.5-4/ruby/lib/ruby/gems/2.2.0/gems/fluentd-0.14.11-x86-mingw32/lib/fluent/supervisor.rb:329:in initialize'

I want to Fixes  My original issue.
and Please show that fixes  are plenty of many other similar fixes on Windows .
I expect the abili

[2017-01-06 07:53] tagomoris commented on #1400
Please do not use issues for questions and answers.
https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md#got-a-question-or-problem

Use SO, Slack or Mailing list.
* Mailing list: https://groups.google.com/forum/#!forum/fluentd
* Slack: http://slack.fluentd.org/

[2017-01-06 07:53] #1400 closed

[2017-01-06 07:57] tagomoris opened #1404 "Add timeouts to wait in shutting down in tests"
`Fluent::PluginHelper::Thread#thread_wait_until_stop` waits until all threads exit.
Test drivers call this method.

But if there are some reason or bug not to quit threads in plugins, test runner blocks forever.
It (and Ctrl-c also) doesn't show test case names which causes blocking.
So, it's better to raise error for timeout in tests.

[2017-01-06 20:45] donato commented on #1384
@repeatedly @tagomoris - can we reopen this ticket until a resolution is found?

[2017-01-06 22:50] nitzanav commented on #1400
will do, sorry.

[2017-01-07 04:40] okumin opened #1406 "Forwarded tag is violating the specification"
Check [CONTRIBUTING guideline](https://github.com/fluent/fluentd/blob/master/CONTRIBUTING.md) first and here is the list to help us investigate the problem.

- fluentd 0.14.11
- CentOS 7.2
- [configuration](https://github.com/fluent/fluentd-benchmark/blob/master/in_forward/agent.conf)

Fluentd 0.14 seems to encode tags into msgpack's bin format on forwarding.
But [The specification](https://github

[2017-01-07 06:14] evgeny-myasishchev opened #1407 "Option to disable time portion of the path with out_file output"
Hi,

Currently out_file will always append time to file name. It would be good to have an option to disable that so it'll always be writing to the same file. It's easier to find last log if it's path is not time sliced and it's easy to setup logrotate that will rotate the files in a more flexible way.

[2017-01-07 12:39] repeatedly commented on #1407
@tagomoris How about this?

In v0.14, we can remove time slice with like below:

[code]

But default `chunk_keys` is `["time"]`, so we can't use `<buffer>` in the configuration.

[2017-01-07 12:43] repeatedly commented on #1383
Second sigdump result is the case which pos_file is not updated, right?

[2017-01-07 12:43] #1364 closed

[2017-01-07 12:43] repeatedly commented on #1364
Patch is merged.

[2017-01-07 21:11] tboothman commented on #1383
Yes, that's the worker/child process

[2017-01-08 07:19] tagomoris commented on #1407
As a quick hack, this configuration seems to work as expected (write all matched events into a file without time in path):
[code]
It looks very hacky, but it might be better to add configuration parameter in `out_file` to control default chunk key if there are many requests for such configuration.

[2017-01-08 07:22] tagomoris opened #1408 "file output plugin adds a buffer path even if root_dir is enabled"
Current Fluentd file buffer plugin may not have `path` in `<buffer>` section, because of `root_dir`.
But file output plugin adds `path` if missing.
It causes unexpected result when users expect to use root dir for buffer paths.

https://github.com/fluent/fluentd/blob/master/lib/fluent/plugin/out_file.rb#L103

[2017-01-08 16:08] evgeny-myasishchev commented on #1407
Hi @tagomoris,

Thanks, this hint works. Looks hacky agree, but it works so who cares :). Is there any documentation on this style of buffer config? I can't seems to find one...

[2017-01-08 23:57] tagomoris commented on #1407
Unfortunately, these documentations are not written yet. I'll use this month for documentation tasks...

[2017-01-08 23:59] evgeny-myasishchev commented on #1407
That's ok. I've found few bits here and there so have everything I need. Thanks for your help!

[2017-01-09 00:44] cosmok commented on #1388
@tagomoris v0.14.11 has this issue fixed.
Thanks!

[2017-01-10 04:13] #485 closed

[2017-01-10 13:01] fevlake commented on #1334
@repeatedly sorry for reopening the issue, but seems that iptables solution didn't work properly. UDP buffer filled up in some hours and everything goes down again.

So i've created a small golang service which acts like udp proxy. It's not great solution i think, but it works. Best way seems to move to some storage like kafka and pull logs from it.

So, here the code goes:

`package main

import

[2017-01-10 22:38] hjet opened #1414 "td-agent memory usage gradually creeping upwards"
See also https://github.com/fluent/fluentd/issues/1384 (seems similar):

**- fluentd or td-agent version.**
fluentd-0.14.10

**- Environment information, e.g. OS.**
Debian GNU/Linux 8.6 (jessie)
3.16.0-4-amd64

**- Your configuration**
(please excuse the possibly poor or nonstandard config – I am inheriting this from another developer and new to fluentd)
[code]

**- Your problem explanation. If yo

[2017-01-11 00:09] repeatedly commented on #1414
It means out_secure_forward can't flush buffer to destination and it causes growing memory usage?
Or buffer length is low but memory usage is high?

[2017-01-11 00:32] hjet commented on #1414
I have confirmed that force flushing the buffer (sending `SIGUSR1`) doesn't reduce memory usage.

Can you clarify what you mean by this? This is precisely the problem. Memory usage increases gradually over the course of several days to the point of consuming most of the memory on the server.

How do I check this?

Thanks for your quick response!

[2017-01-11 00:37] repeatedly commented on #1414
When flush the buffer?
If secure_forward has `error="no one nodes with valid ssl session"` errors, force flushing doesn't work because there is no valid destination.

Your secure_forward setting uses memory buffer. It means the secure_forward can't flush the buffer chunks, memory usage is growing unlike file buffer.

Googling it is faster than my comment ;)
I forgot actual commands.

[2017-01-11 00:51] repeatedly commented on #1384
reopen is okay. I replied to you "yes" at the previous comment :)

[2017-01-11 00:52] hjet commented on #1414
I have just force flushed the buffer:

<img width="1097" alt="screen shot 2017-01-10 at 7 39 47 pm" src="https://cloud.githubusercontent.com/assets/3112455/21830715/a20bf562-d76c-11e6-950a-e16a45c23700.png">

No error was thrown. Memory usage is at ~2.17 GB.

`monitor_agent` shows the following:
[code]

The `"buffer_total_queued_size": 411256,` confirms your theory I believe. I guess there's no er

[2017-01-11 01:06] repeatedly commented on #1414
This is very hard question. Check secure-forward plugin issues is better.

[2017-01-11 01:07] hjet commented on #1414
Ok great, thanks again.

[2017-01-11 01:20] repeatedly commented on #1414
BTW, if you want to reduce the ruby's memory usage itself, set `RUBY_GC_HEAP_OLDOBJECT_LIMIT_FACTOR` envrionemnt variable to `0.9` may help.

[2017-01-11 02:35] #1406 closed

[2017-01-11 03:51] tagomoris commented on #1038
#1405 fixes this issue.

[2017-01-11 03:51] #1038 closed

[2017-01-11 11:37] #1408 closed

[2017-01-11 16:51] hjet commented on #1414
Thanks!

[2017-01-13 01:35] dtboctor commented on #1315
Hey guys, I found the root cause of this error, so I thought I'd share

Basically this happens if you send a message through fluentd that is bigger than the configured chunk size.  It basically permanently breaks with this error until you clear out the problematic files.  Seems like it is something that should be handled, in the case that the file comes through, basically fluentd stops sending to

[2017-01-13 01:39] repeatedly commented on #1315
It means you can reproduce this problem? If so, could you share your configuration and reproducible step?

[2017-01-13 01:46] dtboctor commented on #1315
yeah, I just set my buffer chunk limit to something pretty small, like 10k on our production server, and a >10k event came through, basically it started giving me this error.  I'll see if I can get a more specific configuration to you.

[2017-01-13 07:03] shuji-koike commented on #1379
Hi! @CSharpRU
We have updated our fluentd to 0.14.11 and started using `retry.steps` for monitoring 🎉
Thanks for your work!